<ion-header>
    
    <ion-navbar>
		<ion-title>{{translate("filters","Filtres")}}</ion-title>
      
		<ion-buttons end>
			<button ion-button (click)="dismiss()">
				<ion-icon name="md-close" ></ion-icon>
			</button>
		</ion-buttons>
    </ion-navbar>
  
</ion-header>
<ion-content>
	<ion-list margin-top>
		<ion-item>
			<ion-label>{{translate('sort_by',"Trier par")}}</ion-label>
			<ion-select [(ngModel)]="options.sortBy">
				<ion-option value="alpha">{{translate('titre',"Titre")}}</ion-option>
				<ion-option value="date">{{translate('nouveautes',"Nouveautés")}}</ion-option>
				<ion-option value="page">{{translate('page',"Page")}}</ion-option>
			</ion-select>
		</ion-item>
		<!-- <ion-item>
			<ion-label>Chants avec partitions</ion-label>
			<ion-toggle [(ngModel)]="options.partitionsOnly"></ion-toggle>
		</ion-item> -->
		<ion-list-header>{{translate("filters","Filtres")}}</ion-list-header>
		<ion-item>
			<ion-label>{{translate('filter_by_lang',"Langue")}}</ion-label>
			<ion-select [(ngModel)]="options.lang">
				<ion-option value="Tous">{{translate('all',"Tous")}}</ion-option>
				<ion-option value="FR">Français</ion-option>
				<ion-option value="EN">English</ion-option>
				<ion-option value="DE">Deutsch</ion-option>
				<ion-option value="ES">Español</ion-option>
				<ion-option value="PT">Português</ion-option>
				<ion-option value="HU">Magyar</ion-option>
				<ion-option value="IT">Italiano</ion-option>
				<ion-option value="PL">Polski</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="availableBooks && availableBooks.length>0">
			<ion-label class="ion-text-wrap">{{translate("carnet","Carnet")}}</ion-label>
			<ion-select [(ngModel)]="params.carnet" style="max-width:70%" (ionChange)="updateSongBook()">
				<ion-option *ngFor="let book of availableBooks" [value]="book.id">{{book.title}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="availableBooks && availableBooks.length>1">
			<ion-label>{{translate("additional_books","Carnets supplémentaires")}}</ion-label>
			<ion-select [(ngModel)]="params.songbooks" multiple (ionChange)="updateParams()">
				<ion-option *ngFor="let book of booksFilter(availableBooks)" [value]="book.id">{{book.title}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<button ion-button margin-top full (click)="selectFilters()">{{translate("apply","Appliquer")}}</button>

</ion-content>

