@import '../../theme/variables';
page-about {
	.logo_header{
		background-color: $main_dark;
		img{height:70px; vertical-align: middle}
		text-align: right;
		margin-left:-16px;
		max-width:260px; min-width: 50%;
		border-top-right-radius: 35px;
		border-bottom-right-radius: 35px;
		padding-right:35px; 
	}
}
