<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate('info','À propos')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logo_header">
    <img src="assets/imgs/CCN.png"/>
  </div>
  <p margin-bottom>Née d’un groupe de prière en 1973 à Lyon (France), la Communauté du Chemin Neuf est une <b>Communauté catholique à vocation oecuménique</b>. 
    Elle compte aujourd’hui près de 2000 membres dans une trentaine de pays. <b>Couples, familles, célibataires consacrés hommes et femmes</b> ont choisi l’aventure de la vie communautaire à la suite du Christ pauvre et humble pour se mettre au service de l’église et du monde.
  </p>
  <div class="logo_header">
    <img src="assets/imgs/ACN.png"/>
  </div>
  <p margin-bottom>Depuis 1983, les Ateliers du Chemin Neuf proposent une large sélection de CD liturgiques et de louange, partitions, vidéos de formation et Net for God,
    produits monastiques de différentes abbayes, la revue FOI. Ces artices sont en vente dans notre réseau de boutiques ou en ligne sur notre <span class="link" (click)="openUrl('https://www.laboutique-chemin-neuf.com')">site internet</span>.
  </p>
  <div class="logo_header">
    <img src="assets/imgs/NFG.png"/>
  </div>
  <p margin-bottom>
    Net for God est un réseau international fondé par la Communauté du Chemin Neuf, formant comme un "monastère invisible",
    selon la vision de l'abbé Paul Couturier. Notre appel est de prier et de nous engager pour la paix, la réconciliation et l'unité
    entre les Eglises et les peuples. Chaque mois, un film de 30mn est réalisé et diffusé dans 65 pays à travers 700 "Points Net".<br/>
    <span class="link" (click)="openUrl('https://www.netforgod.tv')">netforgod.tv</span>
  </p>
  <div class="logo_header">
    <img src="assets/imgs/FOI.png"/>
  </div>
  <p margin-bottom>
    La revue FOI (Fraternité Oecuménique Internationale) est une revue trimestrielle qui donne la parole à des acteurs de l'Eglise
    et à des membres de la Communauté du Chemin Neuf qui partagent leur passion de l'Unité.
  </p>
</ion-content>
