@import '../../theme/variables';

page-login {
	ion-content{background: $main_dark !important;}
	.no_user * {color:white}
	ion-slides{
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		padding-bottom: 12px;
		.swiper-pagination-bullet-active{background: white !important;}
	}
	ion-slide{
		padding-bottom: 24px;
	}
	.logo-row {
		padding-top: 25px;
		padding-bottom: 20px;
		text-align: center;
		img{width:75px; margin: auto;}
	}

	.subtitle{
		position: absolute; 
		bottom: 0;
		left:0;
		padding-left: 12px;
		padding-right: 12px;
		width: 100%;

	}
	
  .login-content {

    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
		 margin-top: 24px;
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }
  button.button:not(.button-outline){
    background-color: $main_dark;
    color:white;
    text-transform: none;
  }
  button.button.button-outline{
    //background-color: white;
	color:white;
	border-color: white;
    text-transform: none;
  }
  .button-full.button-outline{
	  border-width: 1px;
  }
  button.button-clear{
    background-color: white;
    color:$main_dark;
    text-transform: none;
  }
  button.button:hover:not(.disable-hover){
    background-color: rgba(255, 72, 20, 0.8);
  }
  button.button-clear:hover:not(.disable-hover){background-color:rgba(255, 255, 255, 0.8)}
 
}