<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="isLoggedIn">

  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title *ngIf="!isLoggedIn">{{translate('login','Login')}}</ion-title>
    <ion-title *ngIf="isLoggedIn">{{translate('compte','Mon compte')}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="!isLoggedIn" class="no_user">
	<ion-row padding class="logo-row" >
		<ion-col></ion-col>
		<ion-col width-67>
		<img src="assets/imgs/logo.png"/>
		</ion-col>
		<ion-col></ion-col>
	  </ion-row>
	  <ion-row >
		<ion-col>
			<h3 padding style="color:white; text-align: center;">{{translate('welcome',"Bienvenue dans l'application 'Louange et Liturgie !' ")}}</h3>
		  </ion-col>
	  </ion-row>
	<ion-slides pager paginationType="bullets">

		<ion-slide>
			<ion-label>
				{{translate('app_lang',"Langue de l'application")}}
			</ion-label>
			<ion-select [(ngModel)]="params.lang" style="max-width:70%" (ngModelChange)="updateLang()">
				<ion-option value="FR">Français</ion-option>
				<ion-option value="EN">English</ion-option>
				<!-- <ion-option value="HU">Magyar</ion-option> -->
			</ion-select>		
			<button ion-button outline (click)="goToSlide(1)">Suivant</button>
		</ion-slide>
	  
		<ion-slide>
			<ion-label>{{translate("carnet","Carnet")}}</ion-label>
			<ion-select [(ngModel)]="params.carnet" style="max-width:70%" (ngModelChange)="updateSongBook()" [selectOptions]="selectOptions">
			  <ion-option *ngFor="let book of availableBooks" [value]="book.id">{{book.label}}</ion-option>
			</ion-select>
			<button ion-button outline (click)="goToSlide(2)">Suivant</button>
		</ion-slide>
	  
		<ion-slide>
			<ion-row padding>
				<!--<ion-col><p style="margin-top:0"><em>Connectez-vous pour pouvoir créer des listes de chants et accéder aux accords.</em></p>
				</ion-col>-->
				<ion-col col-12 col-sm-6 col-lg-4 (click)="openModal('connection')">
					<button ion-button outline full>{{translate('login','Se connecter')}}</button>
				</ion-col>
				<ion-col col-12 col-sm-6 col-lg-4 (click)="openModal('creation')">
					<button ion-button outline full>{{translate('no_account','Pas de compte ?')}}</button>
				</ion-col>
				<ion-col col-12 col-sm-6 col-lg-4 (click)="noConnection()">
					<button ion-button outline full>{{translate('go_on','Continuer sans se connecter')}}</button>
				</ion-col>
				
			  </ion-row>
		</ion-slide>
	  
	</ion-slides>

	  <div >

		<!-- <ion-row >
			<ion-col>
				<h3 style="color:white">{{translate('welcome',"Bienvenue dans l'application 'Louange et Liturgie !' ")}}</h3>
			  </ion-col>
		  </ion-row> -->
		  
	</div>
</ion-content>


<ion-content padding class="login-content" *ngIf="isLoggedIn">
  
  	
  	<ion-list>
		<ion-item *ngIf="isLoggedIn && !editMode" class="">
			<ion-avatar item-left *ngIf="user.img">
				<img [src]="user.img">
			</ion-avatar>
			<h2>{{ user.username }}</h2>
			<h3>{{ user.email }}</h3>
		</ion-item> 
	</ion-list> 
	
  

  <ion-row *ngIf="isLoggedIn">
	<ion-col col-12 *ngIf="editMode">
		<ion-list>
			<ion-item>
				<ion-input [(ngModel)]="user.username"></ion-input>
			</ion-item>
		</ion-list>
	</ion-col>
	<ion-col col-12 col-sm-6 col-md-4 (click)="edit()" *ngIf="!editMode">
		<button ion-button full outline>{{translate('edit','Modifier')}}</button>
	</ion-col>
    <ion-col col-12 col-sm-6 col-md-4 (click)="save()" *ngIf="editMode">
      <button ion-button full outline>{{translate('button_save','Enregistrer')}}</button>
	</ion-col>
	<ion-col col-12 col-sm-6 col-md-4  (click)="logOut()">
		<button ion-button full>{{translate('logout','Se déconnecter')}}</button>
	</ion-col>
  </ion-row>

  
  
</ion-content>
