<!--
  Generated template for the NewFolderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
      <ion-title>Nouveau dossier</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <form (ngSubmit)="createNewFolder()" #registerForm="ngForm">
    <ion-row>
        <ion-col>
          <ion-list >
        
          <ion-item>
            <ion-input type="text" [placeholder]="translate('titre','Titre')" name="newFolder.title" [(ngModel)]="newFolder.title" required></ion-input>
          </ion-item>
        </ion-list>
        
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">{{translate('create','Créer')}}</button>              
          </ion-col>
        </ion-row>
        </form>
</ion-content>

        
