<!--
  Generated template for the PlaylistsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
	  <ion-title>Playlists</ion-title>
	  <ion-buttons right (click)="addPlaylist($event)" *ngIf="user">
			<button ion-button icon-only>
				<ion-icon name="ios-add-circle-outline"></ion-icon>
			</button>
	  </ion-buttons>
    </ion-navbar>
  
</ion-header>


<ion-content padding-horizontal>
	<ion-segment [(ngModel)]="type">
		<ion-segment-button active value="list">
			Playlists
		</ion-segment-button>
		<ion-segment-button value="folder">
			Dossiers
		</ion-segment-button>
	</ion-segment>
	<div [ngSwitch]="type">
		<ion-refresher (ionRefresh)="doRefresh($event)">
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>
			
		<p *ngIf="!user"><em>Vous devez être connecté pour pouvoir créer des playlists</em></p>

		<ion-list *ngSwitchCase="'list'">
			<ion-list-header class="ion-no-margin">
				{{translate('local_playlist','Playlists personnelles')}}
			</ion-list-header>
			<ion-item-sliding *ngFor="let playlist of playlists ; let i=index" >
				<ion-item tappable (click)="goToPlaylist($event, i, playlist, true)" >
				{{playlist.title}}<br/><em><small>{{translate('created','Créée le')}} {{playlist.createdTime | date}}</small></em>
					<ion-icon *ngIf="playlist.isShared" name="people" item-end></ion-icon>
				</ion-item>
				<ion-item-options side="right" *ngIf="!playlist.isShared">
					<button padding-horizontal ion-button color="main_dark" (tap)="archive(playlist,i)">
						<ion-icon name="archive"></ion-icon>
						<small>{{translate('archiver','Archiver')}}</small>
					</button>
					<button padding-horizontal ion-button color="primary" (tap)="copyPlaylist(playlist)">
						<ion-icon name="copy"></ion-icon>
						<small>{{translate('copy','Copier')}}</small>
					</button>
					<button padding-horizontal ion-button  (tap)="selectFolder(playlist,i)">
						<ion-icon name="folder-open"></ion-icon>
						<small>{{translate('add_to_folder','Ajouter au dossier')}}</small>
					</button>
					<button padding-horizontal ion-button color="danger" (tap)="deletePlaylist(i)">
						<ion-icon name="trash"></ion-icon>
						<small>{{translate('delete','Supprimer')}}</small>
					</button>
					
				</ion-item-options>
			</ion-item-sliding>
			<ion-list-header no-margin *ngIf="sharedPlaylists.length>0">
				{{translate('shared_playlist','Playlists partagées')}}
			</ion-list-header>
			<div *ngIf="sharedPlaylists.length>0">
				<ion-item-sliding *ngFor="let playlist of sharedPlaylists">
					<ion-item tappable (click)="goToPlaylist($event, playlist.id, playlist, playlist.canEdit)">
						{{playlist.title}}<br/><em><small>{{translate('shared','Partagée le')}} {{playlist.sharedTime | date}} par {{playlist.createUser}}
						</small></em>
					</ion-item>
					<ion-item-options side="right">
						<button padding-horizontal ion-button color="primary" (tap)="copySharedPlaylist(playlist)">
							<ion-icon name="copy"></ion-icon>
							<small>{{translate('copy','Copier')}}</small>
						</button>                
					</ion-item-options>
				</ion-item-sliding>
			</div>
			
		</ion-list>
		<ion-list *ngSwitchCase="'folder'">
			<ion-list-header class="ion-no-margin" *ngIf="folders && folders.length>0">
				Dossiers
			</ion-list-header>
			<ion-item-sliding *ngFor="let folder of folders; let i=index">
				<ion-item tappable  (click)="goToFolder(i)">
					{{folder.title}}
				</ion-item>
				
			</ion-item-sliding>
		</ion-list>
	</div>
    
	 
    

</ion-content>
