<!--
  Generated template for the TagsSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>
    <ion-toolbar>
      <ion-title>
        Thème
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
-->
<ion-header>
    
    <ion-navbar>
      <ion-searchbar #search  [(ngModel)]="selectedTheme"
      (ionInput)="onInput($event)"
      [showCancelButton]="true"
      (ionCancel)="dismiss()">
    </ion-searchbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
      
    <ion-list>
      <ion-item-group *ngFor="let theme of themes">
        <ion-item-divider *ngIf="theme.themes.length">
          <ion-label>
              {{translate(theme.title,theme.title)}}
          </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let theme of theme.themes" (click)="select(theme)">
          {{ translate(theme,theme)  }}
        </ion-item>
        </ion-item-group>
    </ion-list>
  </ion-content><!--     [(ngModel)]="myInput" 
  -->