page-tags-search {
	.searchbar-input{background-color:rgba(0, 0, 0, 0.08) !important; -webkit-box-shadow:none !important;box-shadow:none !important}

	.searchbar-input::placeholder { /* Most modern browsers support this now. */
   color: white !important;
	}
	ion-item-divider{
		background:#f4f4f4 !important;
		color: #000 !important;
		border-bottom:1px solid #dedede !important;
		text-transform: uppercase; text-align: center;
	}
}
