<!--
  Generated template for the LocalSongsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{translate('chants_personnels','Chants personnels')}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="import()">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-fab bottom right (click)="createSong()">
  <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
</ion-fab>
<ion-list>
  <ion-item-sliding  *ngFor="let song of songs ; let i = index">
    <ion-item tappable (tap)="goToSong($event, song)">
      {{song.title}}
    </ion-item>
    <ion-item-options side="right">
        <button ion-button color="danger" (tap)="deleteSong(i)">
            <ion-icon name="trash"></ion-icon>
            Suppr.
        </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<!--<button ion-button (click)="import()">Importer</button>-->



</ion-content>