<!--
  Generated template for the ImportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>{{translate('import_button','Import')}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="this.navCtrl.pop()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class='transparent_back'>
  <ion-card>
    <ion-card-header text-center>
      {{translate('import_title','Importer un chant')}}
    </ion-card-header>
    <ion-card-content >
      <p text-center>{{translate('import_desc','Le format de chant requis est le format ChordPro.')}}</p>
      <div text-center margin-top>
        <input type="file" multiple name="file" (change)="fileSelected($event)"  id="fileInput">
        <label for="fileInput" ion-button>
          <ion-icon name="cloud-download"></ion-icon>
          {{translate('import_button','Import')}}
        </label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
