<!--
  Generated template for the PlaylistSongsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [hidden]="fullScreenMode">
  
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>   
      <ion-title>{{playlist?.title}}</ion-title>
      <ion-buttons right>
			<button ion-button icon-only *ngIf="!editMode" (click)="editNote()">
				<ion-icon name="create"></ion-icon>
			</button>
			<button ion-button icon-only (click)="saveNote()" *ngIf="editMode">
				<ion-icon name="checkmark"></ion-icon>
			</button>
            <button ion-button icon-only *ngIf="hasExultet" (click)="openUrl()">
                <ion-icon name="cart"></ion-icon>
            </button>
            <button ion-button icon-only (click)="play()" *ngIf="hasNote">
                <ion-icon name="musical-note"></ion-icon>
            </button>
            <button ion-button icon-only (click)="presentActionSheet()">
                <ion-icon name="star-outline"></ion-icon>
            </button>
            
            <button ion-button icon-only (click)="openOptions($event)">
                <ion-icon ios="md-more" md="md-more"></ion-icon>
            </button>
    </ion-buttons>  
    </ion-navbar>
    
    </ion-header>


<ion-content padding-horizontal [ngClass]="'size'+options?.fontSize">
    <div class="note" [ngClass]="{'visible':playNote}">
        <h5>{{first_note}}</h5>
    </div>
  <ion-slides  #myslider [initialSlide]="activeIndex" centeredSlides="false" (ionSlideNextEnd)="nextSong('forward')" (ionSlidePrevEnd)="nextSong('backward')">
    <ion-slide *ngFor="let song of songs; let i=index " style="height:auto">
		<ion-content *ngIf="song" no-padding class="noPadding" [id]="'scrollArea'+i"  style="height:100vh" (tap)="stopScroll()"  (pan)="startScroll($event)" (ionScrollEnd)="endScroll($event)">
			
			<ion-grid >
				<ion-row>
					<ion-col>
						<ion-item margin-bottom class="ion-margin-bottom" *ngIf="editMode">
							<textarea style="width:100%" [(ngModel)]="song.notes" *ngIf="editMode"></textarea>
						</ion-item>
						<div class="notes" margin-bottom [innerHtml]="song.notes" *ngIf="!editMode && song.notes && song.notes!=''"></div>
					</ion-col>
				</ion-row>
				<song-detail [song]="song" [displayText]="i==activeIndex" [displayTonality]="displayTonality" [actualTonality]="tonality" [options]="options" [autoscroll]="options.autoscroll" [copyrights]="copyrights" [isConnected]="true" [defaultCarnet]="carnet" [scroll]="isScrolling" isPlaylist="true" (changeScreenMode)="fullScreen($event)" ></song-detail>
			</ion-grid>	
						
		</ion-content>
	</ion-slide>
  </ion-slides>
  <ion-fab right bottom *ngIf="options.autoscroll && showScroll">
	<button ion-fab (click)="autoScroll($event, true)" (press)="setDuration($event)">
		<ion-icon [name]="isScrolling?'pause':'arrow-round-down'"></ion-icon>
	</button>
	<ion-fab-list side="top">
		<button ion-fab color="secondary" (click)="faster($event)">
			<ion-icon name="fastforward"></ion-icon>
		</button>
		<button ion-fab color="secondary" (click)="slower($event)">
				<ion-icon name="rewind"></ion-icon>
		</button>
	</ion-fab-list>
  </ion-fab>
  <ion-fab right bottom *ngIf="hasExultet || hasSpotify || hasYoutube" >
    <button ion-fab><ion-icon name="headset"></ion-icon></button>
    <ion-fab-list side="top">
        <button ion-fab *ngIf="hasExultet" (click)="openUrl()" color="secondary">
            <ion-icon name="cart"></ion-icon>
            <ion-label>Acheter la partition</ion-label>
        </button>
        <button ion-fab *ngIf="hasSpotify" (click)="openSpotify()" color="secondary">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-label>Écouter sur Spotify</ion-label>
        </button>
        <button ion-fab *ngIf="hasYoutube" (click)="openYoutube()" color="secondary">
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-label>Voir sur Youtube</ion-label>
        </button>
	</ion-fab-list>
  </ion-fab>
</ion-content>
