page-playlist-songs {
	.scroll-content{
        padding-left:8px; padding-right:8px;
        //margin-top:0px !important;
    }
    ion-header[hidden] + ion-content .scroll-content{margin-top:0px !important}
	ion-slide{align-items: flex-start !important; overflow-y:scroll; *{text-align: left}}
    p{margin: 0; margin-top:3px}

    ion-icon{color:$main_dark}
    ion-fab ion-icon{color:white}
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: rgba(0,0,0,0.4);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
    .fab {
        contain: layout;
    }
    .notes{
        background-color: lightgray; padding:10px 6px;
    }
    .note{
        width: 100vw;
        height: 100vh;
        //background-color: rgba(0, 0, 0, 0.8);
        //display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        h5{
            color: #fff;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 2em;
            //text-shadow: -1px 2px 15px rgba(0, 0, 0, 0.7);
            background-color: rgba(0, 0, 0, 0.5);
            padding: 12px;
            border-radius: 4px;
        }
       
    }
    .note.visible{display: flex}
	ion-fab+ion-fab{margin-right:64px}
	.noPadding .scroll-content{padding-left:0 !important; padding-right:0 !important}
	.page{
		padding:6px; border: 1px solid;
	}
}
