<!--
  Generated template for the EditeursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate('editors_list','Editeurs')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{translate('editeurs_text',"Nous avons mis en œuvre tous les moyens en notre possession pour demander les droits de reproduction des œuvres contenues dans cet ouvrage. Nous nous tenons à disposition des auteurs et éditeurs que nous n’avons pas réussi à contacter.")}}</p>
  <ul>
      <li *ngFor="let editeur of editeurs">
          © {{editeur.title | translate : editeur.i18n : carnet}}
      </li>
  </ul>
  
</ion-content>
