song-detail {
	table{
		min-width: 90%;
		//width:95%
	}
	.chorus td,.chorus tr, .chorus p{font-weight: bold}
	.italic{font-style: italic}
	.trad td{font-size:0.8em; font-style:italic; i{font-size:1em}}
	.special td:first-of-type{padding-left: 15px;}
	.special tr:first-of-type td:first-of-type{
		text-indent: -15px;
		ul{text-indent: 0px};
		ul.line{text-indent: -15px}
	}
	.comment {
		margin-bottom: -12px;
		*{text-align:right; font-style: italic}
	}
	.test>td:first-of-type p{margin:0 !important}
	.page{
		padding:6px; border: 1px solid;
	}
	ul{list-style-type: none; padding: 0; margin:0}
	ul.line > li{display: inline-block; vertical-align:bottom;position: relative;white-space:pre}
	td{vertical-align: top}
	.chord-line li{white-space:pre}
	.chord-line{vertical-align: top !important}
	.chord{color:$main_dark; font-weight:400; margin-right: 3px}
	.chord.number{ margin-right:0}
	tr:first-of-type td:nth-of-type(2) > ul > li.withChords, tr:first-of-type td:nth-of-type(2) > ul > li.withChords ~li{margin-top:-2px !important}
	.verse_number{font-size:0.8em; color:$main_dark}
	.tag+.tag:before{
		content:',';
		display: inline-block;
		padding-right:3px; margin-left:-3px; 
	}
	.cd+.cd:before{
		content:',';
		display: inline-block;
		padding-right:3px; margin-left:1px; font-size: 75%;
	}
	.img-container{
        position:relative;margin-top:12px;
       // *{color:#666 !important}
        button{position:absolute; top:-32px; right:0; //background-color: transparent;
        }
	}
	.small-caps, .small-caps *{font-variant: small-caps; font-style:italic; font-size:0.8em}
	.link{
		cursor: pointer;
		border-bottom: 2px solid $main_dark;
	}
	td:empty:after{
		content: "\00a0";
	  }
	td{white-space: pre-wrap}
	p.rtl{
		direction:rtl;
		float:right !important
	}
	table.rtl{
		direction:rtl;
		tr, td{text-align:right}
	}
	.margin-bottom{margin-bottom:12px}
}
.dark{
	.link{border-bottom-color:$night_red !important}
	.chord{color:$night_red !important}
	.img-container{background-color:rgba(255,255,255,0.8)}
}
