<ion-row *ngIf="song">
	<ion-col col-10>
		<h3 no-margin margin-top>
			{{song.title | translate : song.i18n : song.carnet}}
			<ion-icon margin-right *ngIf="song.packages && song.packages == 'package3'" color="primary" name="eye"></ion-icon>
		</h3>
	</ion-col>
	<ion-col col-2>
		<div  float-right class="page" *ngIf="song.songbooks && song.carnet && song.songbooks[song.carnet] && song.songbooks[song.carnet].page">
			<p>{{song.songbooks[song.carnet].page}}</p>
		</div>
	</ion-col>
</ion-row>	
<ion-row *ngIf="displayText">
	<ion-col>
<!-- Generated template for the SongDetailComponent component -->
	<div margin-bottom>
		<div text-right *ngIf="song && song.capo && !options.capoMode">Capo {{song.capo}}</div>
		<div text-right *ngIf="song && song.tonality">{{translate('key','Tonalité')}} : {{actualTonality}}
			<small *ngIf="song.transposition>0"> (+{{song.transposition}})</small>
			<small *ngIf="song.transposition<0"> {{"("+song.transposition}})</small>
		</div>
		<div text-right *ngIf="song && song.alternance" margin-bottom>
			{{song.alternance}}
		</div>
		<div *ngIf="availableInBooks.length>1">
			<ion-list no-lines>
				<ion-item>
					<ion-select text-right style="max-width: 300px;" [(ngModel)]="song.carnet" name="carnet" (ngModelChange)="changeCarnet()" interface="popover">
						<ion-option *ngFor="let book of availableInBooks" [value]="book.id">{{book.title}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-list>
		</div>

	</div>
	<div margin-bottom *ngIf="song.canon"><p class="small-caps">Canon</p></div>

	<div *ngFor="let locale of songbooks | keys : song.carnet; let first = first" (click)="fullScreen($event,locale.value)">
		<p class="small-caps" *ngIf="!first" margin-bottom="options.position">{{locale.label}}</p>
		<div *ngFor="let verseId of locale.value" [ngClass]="{'chorus':(verseType(verseId)=='R' || verseType(verseId)=='A'), 'italic':['B','P','E'].indexOf(verseType(verseId)) > -1, 'trad':verseType(verseId)=='Z', 'special':['P','E','S','Z'].indexOf(verseType(verseId)) > -1,'comment':verseType(verseId)=='K'}"> 
			<div *ngIf="song.text_parts && song.text_parts[locale.key] && song.text_parts[locale.key][verseId]">
			<!--Bridge--><p style="margin-top:0"  *ngIf="verseType(verseId)=='B' && (!options.position || !options.showChords)">{{verseText(verseId)}}. </p> 
			<!--Couplet--><p style="margin-top:0" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F'}" float-left *ngIf="(!options.position || !options.showChords) && verseType(verseId)=='C' && !song.hideNumber && !(verseId=='C1' && !song.text_parts[locale.key]['C2'])" >{{verseText(verseId)}}. </p>
			<!--Verset--><p class="verse_number" style="margin-top:0" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F'}" float-left *ngIf="(!options.position || !options.showChords) && verseType(verseId)=='V'" >{{verseText(verseId)}} </p>
	<!--Ref--><p style="margin-top:0" float-left *ngIf="(!options.position || !options.showChords) && verseType(verseId)=='R'" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F'}">{{verseText(verseId)}}. </p>
				<table *ngIf="(!options.position || !options.showChords) && song.text_parts[locale.key][verseId]" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F', 'margin-bottom':verseType(verseId)!='V'  }">
					<tr  *ngFor="let line of song.text_parts[locale.key][verseId]['lines']; let i=index" [innerHTML]="((i==0 && ['P','E','S','Z','I','T','D','G'].indexOf(verseType(verseId)) > -1)?'<i>'+verseText(verseId)+' :</i> ':'') +line | chord : options.showChords : 'right' : options : song : song.capo : displayTonality" ></tr>
				</table><!--titre avec décalage : P (pré-ref),E (fin),S (stance),Z (trads), I (intro), T(inter)-->     
				<table *ngIf="options.position && options.showChords && ['P','E','S','Z','I','T','D','V','A','B','K','G'].indexOf(verseType(verseId)) > -1" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F', 'margin-bottom':verseType(verseId)!='V' }">
					<tr *ngFor="let line of song.text_parts[locale.key][verseId]['lines']; let i=index" 
					[innerHTML]="(((i==0 && ['V','A','K'].indexOf(verseType(verseId)) == -1)?'<i>'+verseText(verseId)+' :</i> ':'')+line) | chord : options.showChords : 'right' : options : song : song.capo : displayTonality" >
					</tr>
				</table>
				<!--Refrain--><table class="margin-bottom" *ngIf="options.position && options.showChords && verseType(verseId) == 'R'" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F'}">
					<tr *ngFor="let line of song.text_parts[locale.key][verseId]['lines']; let i=index" class="test"
						[innerHTML]="((i==0) ?'<td><p>'+verseText(verseId)+'.</p></td>':'<td></td>') + (line | chord : options.showChords : 'text' : options : song : song.capo : displayTonality)" >
					</tr>
				</table>
				<!--Couplet--><table class="margin-bottom" #table *ngIf="options.position && options.showChords && verseType(verseId) == 'C'" [ngClass]="{'rtl':(locale.key=='AR' || locale.key=='HE') && verseType(verseId)!='F' }">
						<tr *ngFor="let line of song.text_parts[locale.key][verseId]['lines']; let i=index" class="test"
						[innerHTML]="((i==0 && !song.hideNumber && !(verseId=='C1' && !song.text_parts[locale.key]['C2'])) ?'<td><p>'+verseText(verseId)+'.</p></td>':'<td></td>') + (line | chord : options.showChords : 'text' : options : song : song.capo : displayTonality)" >
					</tr>
				</table>
			</div>
			<div *ngIf="verseId.substring(0,3)=='IMG' && images && images[verseId]" class="img-container">
				<img id="image" [src]="images[verseId].url" *ngIf="images[verseId].url">
				
			</div>
			
		</div>

	</div>       

	<div text-left margin-bottom style="padding-right:5px">
		<small *ngIf="song.themes">
			<ion-icon name="pricetags" style="color:grey"></ion-icon>
			<i><span class="tag" *ngFor="let keyword of song.themes">{{translate(keyword,keyword)}} </span></i><br/>
		</small>      
		<em *ngIf="song.author"><small>{{translate('paroles','Paroles')}} : {{song.author}}</small><br/></em>
		<em *ngIf="song.composer"><small>{{translate('music','Musique')}} : {{song.composer}}</small><br/></em>
		<em *ngIf="song.secli || song.secli_old"><small>SECLI : {{song.secli}}<span *ngIf="song.secli && song.secli_old">-</span>{{song.secli_old}}</small><br/></em>
		<em *ngIf="song.partition || song.cd">
			<span *ngIf="song.partition">
				<small>{{song.partition}}</small>
			</span>
			<span *ngIf="song.partition && song.cd">
				<small> - </small>
			</span>
			<span *ngIf="song.cd">
				<span class="cd" *ngFor="let cd of song.cd"><small>{{cd}}</small></span>
			</span>
			<br/>
		</em>
		<em *ngIf="song.biblical_reference"><small>{{song.biblical_reference}}</small><br/></em>
		<div text-right>
			<em><small>{{song.title | originalTitle : song.i18n : song.carnet}}</small></em>
		</div>
		<div text-right *ngIf="song && copyrights && song.copyright && song.copyright.international"  (click)="openLtc()">
			<em [ngClass]="{'link':song.id_ltc}">
				<small>© </small>
				<small *ngIf="song.copyright.date">{{song.copyright.date}} </small>

				<em *ngIf="typeof(song.copyright.international)=='string'">
					<small *ngIf="copyrights[song.copyright.international]">{{copyrights[song.copyright.international].title| translate : copyrights[song.copyright.international].i18n : song.carnet}}</small>
				</em>
				<em *ngIf="typeof(song.copyright.international)=='object'">
					<span *ngFor="let copyright of song.copyright.international; let i = index; let last= last">
						<small *ngIf="copyrights[song.copyright.international[i]]">{{copyrights[song.copyright.international[i]].title| translate : copyrights[song.copyright.international[i]].i18n : song.carnet}}</small>
						<small *ngIf="song.copyright.international.length>1 && !last">/</small>
					</span>
				</em>

				<em *ngIf="song.copyright.administrateur || (song.copyright.administration && song.copyright.administration!='')">
					<small>/ {{translate("admin_by","Admin. par")}} </small>
				</em>
				<em *ngIf="song.copyright.administrateur">
					<small *ngIf="copyrights[song.copyright.administrateur]">{{copyrights[song.copyright.administrateur].title| translate : copyrights[song.copyright.administrateur].i18n : song.carnet}}</small>
				</em>
				<small *ngIf="song.copyright.administration && song.copyright.administration!=''">{{song.copyright.administration}}</small>
				<small *ngIf="song.copyright.rights_state && ['reserved','permission'].indexOf(song.copyright.rights_state)>1">{{cpStates[song.copyright.rights_state]}}</small>
			</em>
			<em *ngFor="let trad of trads">
				<br>
				<small>{{trad_labels[trad.lang]}} © </small>
				<small *ngIf="trad.data.date">{{trad.data.date}} </small>
				<small *ngIf="trad.data.copyright && copyrights[trad.data.copyright]">{{copyrights[trad.data.copyright].title}}</small>
				<small *ngIf="trad.data.administration && trad.data.administration!=''"> / {{translate("admin_by","Admin. par")}} {{trad.data.administration}}</small>                    
			</em>
		</div>
		
		<div text-right *ngIf="song && song.l_copyright"><em>
			<small>{{song.l_copyright}}</small>
		</em></div>
	</div>
	<div float-right style="height:56px; width:100%"></div>
	</ion-col>
</ion-row>
