<!--
  Generated template for the ArchivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate('archives', "Playlists archivées")}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
<!--    <ion-list-header no-margin>
        Playlists personnelles
    </ion-list-header>-->
        
      <ion-item *ngFor="let playlist of archives ; let i=index" >
        {{playlist.title}}<br/><em><small>{{translate('archived','Archivée le')}} {{playlist.archivedTime | date}}</small></em>
        <ion-icon name="redo" item-end (click)="restore(playlist,i)"></ion-icon>

      </ion-item>
</ion-list>
</ion-content>
