<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		  </button>
	  <ion-title>{{translate('messages','Boîte de réception')}}</ion-title>
	</ion-navbar>
  
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item-sliding  *ngFor="let message of messages; let i=index">
			<ion-item (click)="openMessage(i)" [class.unread]="!message.read">
				<h2>{{message.title}}</h2>
				<div class="summary" [innerHtml]="message.body"></div>
				<ion-note item-end>{{message.date | date :'dd MMM'}}</ion-note>
			</ion-item>
			<ion-item-options slot="end">
				<button ion-button color="danger" (tap)="deleteMessage(message.id)">
					<ion-icon name="trash"></ion-icon>
					Suppr.
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
