<ion-list>
	<ion-list-header>Durée : {{getMin(song.duration)}}:{{getSec(song.duration)}}</ion-list-header>
	<ion-item>
		<ion-range min="0" max="360" [(ngModel)]="song.duration" color="primary">
			<ion-label range-left>0</ion-label>
			<ion-label range-right>6:00</ion-label>
		</ion-range>
	</ion-item>
</ion-list>