<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>{{translate('contact','Contact')}}</ion-title>
    </ion-navbar>
  
</ion-header>



<ion-content padding>
  <p><em>{{translate('contact_text',"Contactez-nous ici pour nous faire part de vos remarques lors de l'utilisation de l'appli !")}}</em></p>
  <form (ngSubmit)="send()" #registerForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>{{translate('contact_type','Type de remarque')}}</ion-label>
        <ion-select name="type" [(ngModel)]="email.type" required>
          <ion-option value="bug">Bug</ion-option>
          <ion-option value="improve">{{translate('contact_improve',"Amélioration d'une fonctionnalité")}}</ion-option>
          <ion-option value="new">{{translate('contact_new','Nouvelle fonctionnalité')}}</ion-option>
          <ion-option value="pb_chant">{{translate('contact_erreur','Erreur sur un chant')}}</ion-option>
          <ion-option value="autre">{{translate('contact_autre','Autre')}}</ion-option>
        </ion-select>
      </ion-item>
      <!--<ion-item>
          <ion-label>Titre</ion-label>
          <ion-input name="titre" type="text" [(ngModel)]="email.titre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea name="body" [(ngModel)]="email.body" required placeholder="Texte" rows="10"></ion-textarea>
      </ion-item>-->
    </ion-list>
    
    <button icon-right ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">
      	{{translate('contact_send','Envoyer un retour')}}
      <ion-icon name="send"></ion-icon>
    </button>
    <p *ngIf="versionNumber"><em>{{translate('contact_version',"Version de l'application :")}} {{versionNumber}}</em></p>

        
  </form>

</ion-content>
