<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-buttons right  *ngIf="!showSearch && !isMultipleSelection" >
        <button ion-button icon-only class="show-large hidden-xs">
          <ion-icon name="search"></ion-icon>
        </button>
        <input  placeholder="123" type="number" min="0" [(ngModel)]="searchPage" (ngModelChange)="filterByPage()">
        <button class="alphasearch hidden-large" (click)="showSearchBox(input)">
          <img src="assets/svg/search_alpha.svg"/>
        </button>
        <button ion-button icon-only (click)="selectLang()">
            <ion-icon name="flag"></ion-icon>
		</button>
		<button ion-button icon-only (click)="presentModal()">
            <ion-icon name="pricetags"></ion-icon>
        </button>
        <!-- <button ion-button icon-only (click)="selectOrder()"><ion-icon name="funnel"></ion-icon></button> -->
        <button ion-button icon-only (click)="openFilters()"><ion-icon name="funnel"></ion-icon></button>
    </ion-buttons>
    <ion-searchbar *ngIf="!isMultipleSelection" #input class="show-large" [placeholder]="translate('search_by_title','Recherche par titre')" [hidden]="!showSearch" showCancelButton="true" autocomplete="true" (ionInput)="filterItems($event)" (ionCancel)="onCancel($event)" (ionClear)="resetTags()"></ion-searchbar>
    <ion-buttons right  *ngIf="isMultipleSelection" >
      <button ion-button icon-only (click)="backToList()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="star-outline"></ion-icon>
      </button>
      
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-vertical>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    
  <ion-chip class="tags" *ngIf="tags"  (click)="resetTags()">
    <ion-label>{{translate(tags,tags)}}</ion-label>
    <button ion-button clear color="light">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-chip>
  <div class="progress-wrapper" *ngIf="showLoader">
    <div class="current"><small style="font-size:60%">Loading...</small><br/>{{ progress | number : '1.0-0'}}%</div>
    <round-progress style="margin-left:20%"
      [current]="progress"
      [max]="100"
      [color]="'#ff4814'"
      [background]="'#eaeaea'"
      [radius]="125"
      [stroke]="20"
      [rounded]="false"
      [clockwise]="true"
      [responsive]="true"
      [duration]="500"
      [animation]="'easeInOutQuart'"
      [animationDelay]="0"
      ></round-progress>
  </div>
  <ion-list *ngIf="!showLoader && !songs">
    <ion-item *ngFor="let fake of fakeArray" class="fakeItem">
      <ion-note item-start></ion-note>
      <p></p>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!showLoader && messages && messages.length>0">
	
	  <ion-card-content>
		  <h2 style="font-weight: bold;" *ngIf="messages[0].title">{{messages[0].title}}</h2>
		  <div *ngIf="messages[0].body" [innerHTML]="messages[0].body"></div>
	  </ion-card-content>
	  <ion-item *ngIf="messages[0].playlistId" (click)="goToPlaylist(messages[0].playlistId)">
		  <button ion-button icon-end clear small item-end>
			<div margin-right>Voir la playlist</div>
			<ion-icon name="send"></ion-icon>
		  </button>
	  </ion-item>
		  
  </ion-card>

  <ion-list [virtualScroll]="songs" approxItemHeight="46px" [hidden]="showLoader">
    <ion-item text-wrap tappable *virtualItem="let song" (press)="multipleSelection($event,song)" (tap)="goToSong(song)">
      <ion-note item-start *ngIf="song.songbooks && song.songbooks[carnet] && song.songbooks[carnet].page && !isMultipleSelection">
        {{song.songbooks[carnet].page}}
      </ion-note>  
      <ion-icon item-start *ngIf="song.songbooks && song.songbooks['local'] && !isMultipleSelection" name="lock"></ion-icon>
      <ion-note item-start *ngIf="!(song.songbooks && song.songbooks[carnet] && song.songbooks[carnet].page) && !isMultipleSelection && !(song.songbooks && song.songbooks['local'])"> </ion-note>
      <ion-icon item-start name="square-outline" *ngIf="isMultipleSelection && !isSelected(song)" ></ion-icon>
      <ion-icon item-start color="main" name="checkbox" *ngIf="isMultipleSelection && isSelected(song)"></ion-icon>
	  <span>
		{{song.title | translate : song.i18n : carnet}}
		<!-- <span *ngIf="song.alternate_title && song.alternate_title!='' "><br/><em>{{song.alternate_title}}</em></span> -->
	  </span>

    </ion-item>
  
  </ion-list>
  <ion-card *ngIf="!isLoggedIn && !showLoader">
    <ion-card-content >
      <p>{{translate('get_all_songs','Pour avoir accès à tous les chants, créez votre compte ici')}}</p>
    </ion-card-content>
    <ion-row >
      <ion-col><button float-right small ion-button outline (click)="goToLogin()">{{translate('create_account','Créer mon compte')}}</button></ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
