page-home {
	::-webkit-scrollbar {
		width: 10px;
	}
	ion-icon.page{
		padding:8px 0;
		border:1px solid;
		min-width: 40px;
		text-align: center;
	}
	.indexed-menu {
		width: 20px;
		text-align: center;
		float: right;
		position: fixed;
		right: 5px;
		top: 60px;
		z-index: 104;
		.indexed-item {
		  transition: all .3s ease-out;
		  margin: 1px 0;
		  color: #999;
		  &.activate {
			transform: scale(1.5);
			color: #000;
		  }
		}
	}
	.content-ios {
		.indexed-menu {
		  top: 50px;
		}
	}
	ion-searchbar{max-width: 450px; float: right}
	.searchbar-input{background-color:rgba(0, 0, 0, 0.08) !important; -webkit-box-shadow:none !important;box-shadow:none !important}

	.searchbar-input::placeholder { /* Most modern browsers support this now. */
   color: white !important;
	}
	input[type=number]{
		vertical-align: middle;
		color:white !important;
		border:none;
		padding: 11px 0;
		text-align: center;
		max-width: 60px;
		background-color:rgba(0, 0, 0, 0.08) !important; 
	}
	input[type=number]::placeholder{color:rgba(255, 255, 255, 0.6) !important;}
	.bar-buttons button{vertical-align: middle}
	.tags .button{
		text-transform:none !important; border:none !important;
		height: 3rem !important; font-size: 1rem !important;
	}
	button{text-transform: none !important}
	.tags ion-icon{color:$main_dark}
	.tags{margin-left:16px}
	round-progress{width:60% !important}
	.current{top:50%; transform: translateY(-50%) translateX(-50%);left: 50%;
		position: absolute;
		color: #bbb;
		font-weight: 100;
		line-height: 1;
		font-size: 1em; text-align:center;
	}
	.progress-wrapper {
		position: relative;
		margin: 20px auto;
		font-size: 40px;
	}
	.pagesearch{
		background: url(../assets/svg/search_number.png) no-repeat top left;
		background-size: contain;
		width: 30px;
		height: 30px;
	}
	.alphasearch{
		//background: url(../assets/svg/search_alpha.png) no-repeat top left;
		height: 32px;overflow-y:hidden;
		img {height: 26px;}
		background-color:$main_dark;
	}
	@media (max-width: 500px) {
		.hidden-xs {
			display: none !important;
		}
	}
	@media (min-width: 500px) {
		.show-large{
			display: inline-block !important;
		}
		.hidden-large{
			display: none !important;
		}
	}
	ion-note{width:32px; 	white-space: nowrap}
	.list-md .item-block .item-inner{border:none !important}
	.item-ios.item-block .item-inner{border:none !important}
		ion-item{ border-top: 1px solid rgb(222, 222, 222) !important;/*border-bottom: 1px solid rgb(222, 222, 222) !important;*/}
	//.scroll-content::-webkit-scrollbar *{background-color:rgba(255,255,255,0.5);}
	.scroll-content::-webkit-scrollbar{width:20px !important}
	//.scroll-content::-webkit-scrollbar:hover{width:20px !important}
	//.scroll-content::-webkit-scrollbar-track{/*background-color:green;*/}
	.scroll-content{overflow-y:overlay}
	.scroll-content::-webkit-scrollbar-thumb { height:30px; border-radius: 10px; background: rgb(169,169,169); transition:height 0.5s ease;}
	//.scroll-content::-webkit-scrollbar-thumb:hover{height:30px}

	.fakeItem {
		h2, h3, p {
		  background-color: lightgrey;
		  opacity: 0.5;
		  height: 1em;
		  margin-top: 10px;
		}
	   
		h2 {
		  width: 35%;
		}
	   
		h3 {
		  width: 40%;
		} 
	   
		p {
		  width: 60%;
		}
	   }
		 //.item-md ion-note[item-left], .item-md ion-note[item-start]{margin: 16px 8px 15px 0}
		 .item-md ion-icon[item-left], .item-md ion-icon[item-start]{margin:8px 8px 8px 0 !important}
}
.dark {
	.alphasearch{background-color: $night_main_dark}
	.tags {
		ion-label, ion-icon{color:white}
		border:1px solid white;
	}
}
