<ion-header>
    
  <ion-navbar>
    <ion-searchbar #search  [(ngModel)]="userSearch" placeholder="Nom d'utilisateur"
    (ionInput)="onInput($event)"
    [showCancelButton]="true"
    (ionCancel)="dismiss()">
  </ion-searchbar>
  
  </ion-navbar>

</ion-header>

<ion-content padding #popoverContent>
    
  <ion-list #popoverText *ngIf="userSearch.length>2" margin-bottom>
    <ion-item *ngFor="let user of users" (click)="select(user)">
      <h2> {{ user.username }} </h2>
     <!-- <h3> Email: <strong>{{ user.email }}</strong> </h3>-->
     <ion-icon name="checkmark-circle-outline" item-end *ngIf="isSelected(user)"></ion-icon>
    </ion-item>
  </ion-list>
  <p><em>
    <ion-icon name="alert"></ion-icon>
    Partager la playlist en temps réel, pendant une durée de 48h, avec d'autres utilisateurs de l'application. 
  </em></p>
  <p *ngIf="userSearch.length<=2" margin-bottom><em>Chercher un utilisateur de l'application...</em></p>
  <ion-list *ngIf="selectedUsers.length>0" margin-top>
    <ion-list-header>
      Playlist partagée avec :
    </ion-list-header>
    <ion-item *ngFor="let user of selectedUsers ; let i=index" ><!--(click)="delete(i)"-->
      <ion-icon name="eye" item-start *ngIf="!user.canEdit"></ion-icon>
      <ion-icon name="create" item-start *ngIf="user.canEdit"></ion-icon>
      {{ user.username }}
    <!-- <ion-icon name="trash" item-end></ion-icon>  -->
     <ion-icon item-end name="more" (click)="presentPopover($event, i)"></ion-icon>   
    </ion-item>
  </ion-list>
  <button ion-button (click)="dismiss()">
    Annuler
  </button>
  <button icon-right ion-button (click)="share()">
    Partager
    <ion-icon name="send"></ion-icon>
  </button>
  

</ion-content>