<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title *ngIf="!editMode">{{translate('new_song','Nouveau chant')}}</ion-title>
    <ion-title *ngIf="editMode">{{translate('edition','Edition')}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="createSong()" #registerForm="ngForm">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>{{translate('titre','Titre')}}</ion-label>
            <ion-input type="text" [placeholder]="translate('titre','Titre')" name="title" [(ngModel)]="song.title" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{translate('rubrique','Rubrique')}}</ion-label>
            <ion-select [(ngModel)]="song.songbooks.local.rubrique" name="rubrique"  interface="popover">
              <ion-option *ngFor="let rubrique of rubriques" [value]="rubrique">{{rubrique}}</ion-option>
            </ion-select>            
          </ion-item>
          <ion-item>
            <ion-label floating>{{translate('tags','Thèmes')}}</ion-label>
            <ion-select [(ngModel)]="song.themes" name="themes" multiple="true">
              <ion-option *ngFor="let theme of themes" [value]="theme">{{theme}}</ion-option>
            </ion-select>            
          </ion-item>            
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="song.texte && song.texte.length>0" >
      <ion-card-content *ngFor="let verse of song.texte ; let i=index">
          {{song.texte[i].lang}} - {{song.texte[i].type}}{{song.texte[i].number}}
          <textarea #divs margin-bottom [froalaEditor]="options" [name]="'texte'+i" [(froalaModel)]="song.texte[i].texte"></textarea>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-list >
            <ion-list-header no-margin>
              {{translate('new_verse','Nouveau couplet')}}
            </ion-list-header>
            <ion-item>
                <ion-label>{{translate('type','Type')}}</ion-label>
                <ion-select [(ngModel)]="newVerse.type" name="type">
                  <ion-option *ngFor="let type of verseTypes" [value]="type.value">{{type.label}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{translate('number','Numéro')}}</ion-label>
                <ion-input type="number" name="number" [(ngModel)]="newVerse.number" ></ion-input>
            </ion-item>             
          </ion-list>

        </ion-card-content>
        <div margin-bottom [froalaEditor]='options' [(froalaModel)]="newVerse.texte"></div>

        <ion-row no-padding>
            <ion-col text-right>
              <div ion-button clear small color="primary" icon-start (click)="addVerse()">
                <ion-icon name='add'></ion-icon>
                	{{translate('button_add','Ajouter')}}
              </div>
            </ion-col>
          </ion-row>
      </ion-card>
    <button *ngIf="!editMode" ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">{{translate('button_create','Créer')}}</button>
    <button *ngIf="editMode" ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">
      {{translate('save','Enregistrer')}}
    </button>

  </form>
 
      

</ion-content>