<!--
  Generated template for the LoginPopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton="true">
      <ion-title *ngIf="action=='creation'">{{translate('create_account','Créer un compte')}}</ion-title>
      <ion-title *ngIf="action=='connection'">{{translate('login','Se connecter')}}</ion-title>
  
      <ion-buttons end>
        <button ion-button (click)="this.navCtrl.pop()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>

<ion-content padding class='transparent_back'>
  <ion-card>
    <ion-card-header *ngIf="action=='creation'" text-center>
      {{translate('register',"S'inscrire")}}
    </ion-card-header>
    <ion-card-header *ngIf="action=='connection'" text-center>
        {{translate('login','Se connecter')}}
      </ion-card-header>
    <ion-card-content >
      <p text-center>{{translate('register_text',"Votre compte vous permettra de créer des listes de chants, de les partager avec d'autres utilisateurs et d'accéder aux accords des chants.")}}</p>
      <form (ngSubmit)="login()" #registerForm="ngForm"  *ngIf="action=='connection'">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-label floating>{{translate('email','Adresse email')}}</ion-label>
                <ion-input #email="ngModel" type="text" name="email" [(ngModel)]="registerCredentials.email" (ngModelChange)="correctEmail()" required email></ion-input>
              </ion-item>
              <small *ngIf="email.errors?.email && email.touched" text-italic class="danger">
                {{translate('email_error',"L'adresse mail n'est pas valide")}}
              </small>
              <ion-item>
                <ion-label floating>{{translate('password','Mot de passe')}}</ion-label>
                <ion-input type="password" [type]="passwordType" clearOnEdit="false" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
                <button ion-button clear type="button" item-right class="eye" (click)="togglePassword()"><ion-icon name="eye" [color]="passwordType=='password'?'grey':'dark'"> </ion-icon> </button>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button full type="submit" [disabled]="!registerForm.form.valid">{{translate('login','Se connecter')}}</button>        
          </ion-col>
        </ion-row>
        <ion-row margin-top>
          <ion-col>
            <p text-center  (click)="initializePwd(email?.errors)"><u>{{translate('forgot_password',"Mot de passe oublié ?")}}</u></p>
          </ion-col>
        </ion-row>
      </form>
        
        
        

      <form (ngSubmit)="register()" #registerForm="ngForm"  *ngIf="action=='creation'">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item text-wrap> 
                  <ion-label>{{translate('cgu_text',"J’ai lu et j’accepte les Conditions générales d'utilisation")}}
                  </ion-label>
                  <ion-checkbox name="accept_cgu" [(ngModel)]="accept_cgu"></ion-checkbox>
              </ion-item>
              <a href="#" (click)="readCgu()"><small>({{translate('read_cgu','consulter les CGU')}})</small></a>
              <ion-item>
                  <ion-label floating>{{translate('email','Adresse email')}}</ion-label>
                  <ion-input #email="ngModel" type="text" name="email" [(ngModel)]="registerCredentials.email" (ngModelChange)="correctEmail()" required email></ion-input>
              </ion-item>
              <small *ngIf="email.errors?.email && email.touched" text-italic class="danger">
                {{translate('email_error',"L'adresse mail n'est pas valide")}}
              </small>
              <ion-item>
                <ion-label floating>{{translate('user_name',"Nom d'utilisateur")}}</ion-label>
                <ion-input #userName="ngModel" type="text" minlength="5" name="name" [(ngModel)]="registerCredentials.name" required></ion-input>
              </ion-item>
              <small *ngIf="userName.errors?.minlength && userName.touched" text-italic class="danger">
                {{translate('user_name_error',"Le nom d'utilisateur doit faire au moins 5 caractères")}}
              </small>
              <ion-item>
                <ion-label floating>{{translate('password','Mot de passe')}}</ion-label>
                <ion-input #password="ngModel" minlength="6" [type]="passwordType" clearOnEdit="false" name="password" [(ngModel)]="registerCredentials.password"  required></ion-input>
                <button ion-button clear type="button" item-right class="eye" (click)="togglePassword()"><ion-icon name="eye" [color]="passwordType=='password'?'grey':'dark'"> </ion-icon> </button>

              </ion-item>
              <small *ngIf="password.errors?.minlength && password.touched" text-italic class="danger">
                {{translate('password_error','Le mot de passe doit faire au moins 6 caractères')}}
              </small>
              
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button full type="submit" [disabled]="!registerForm.form.valid">{{translate('create_account','Créer mon compte')}}</button>        
          </ion-col>
        </ion-row>        
      </form>
      <p text-center class="divider"><span>{{translate('other_id',"ou s'identifier avec")}}</span></p>
        <ion-row>
          <ion-col text-center>
            <button ion-fab class="facebook" (click)="signInWithFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab color="light" (click)="signInWithGoogle()"><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-col>
        </ion-row>
      

      
    </ion-card-content>
  </ion-card>

</ion-content>
