page-login-popup {
	.transparent_back {
		background-color: rgba(40,40,40,0.8);
	  }
	
	  .card .item.item-block .item-inner{border-bottom:1px solid #dedede}
	  button.button{
		background-color: $main_dark;
		color:white;
		text-transform: none;
	  }
	  button.button-clear{
		background-color: white;
		color:$main_dark;
		text-transform: none;
	  }
	  button.button:hover:not(.disable-hover){
		background-color: rgba(255, 72, 20, 0.8);
	  }
		button.button-clear:hover:not(.disable-hover){background-color:rgba(255, 255, 255, 0.8)}
		button.button-clear.eye{
			border:none !important;
			position: absolute; bottom:0; right: 0;
		}
		button.fab{display: inline-block; margin: 6px;}
		button.fab.facebook{background-color:  	#3b5998; color:white}
		.item-input-has-focus .label[floating], .input-has-focus .label[floating], .item-input-has-value .label[floating], .input-has-value .label[floating]{color:#999}
		.divider:before{
			content:'';
			display: block;
			border-top:2px solid #999;
			position: relative;
			bottom:-14px;
		}
		.divider span{background-color: white; padding: 6px 12px; position: relative}
		.danger{color:color($colors, danger)}
}
