<!--
  Generated template for the MigrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Migration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <button (click)="migrate()">Migrer</button>
  <button (click)="changeStructure()">Changer la structure</button>
  <button (click)="majChant()">MAJ chant</button>
  <button (click)="createSongbook()">Créer carnet</button>
  <button (click)="createUsersColl()">Fix utilisateurs</button>
  <button (click)="publishBook()">Publier recueil dans l'app</button>
  <button (click)="checkBook()">Vérifier recueil</button>
  <!-- <button (click)="fixUsers()">Fix users</button> -->
</ion-content>
