<!--
  Generated template for the SpotifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
    <iframe *ngIf="type=='spotify'" [src]="url|safe" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
    <iframe *ngIf="type=='youtube'" [src]="url|safe" frameborder="0" width="100%" height="100%"></iframe>

</ion-content>
