@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?7vzgue');
  src:  url('../assets/fonts/icomoon.eot?7vzgue#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?7vzgue') format('truetype'),
    url('../assets/fonts/icomoon.woff?7vzgue') format('woff'),
    url('../assets/fonts/icomoon.svg?7vzgue#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.order:before,.ion-ios-order:before ,.ion-ios-order-outline:before ,.ion-md-order:before ,.ion-md-order-outline:before  {
  content: "\e900";font-size: 26px;
}
.alpha-order:before, .ion-ios-alpha-order:before, .ion-ios-alpha-order-outline:before, .ion-md-alpha-order:before, .ion-md-alpha-order-outline:before {
  content: "\e901";font-size: 26px;
}
