// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/variables';
.second-toolbar{display:none !important} //hide froala bar
*{
	font-size: 16px;
	font-family: "Roboto", "Helvetica Neue", sans-serif, Arial;
}
:focus, input:active, textarea:active, select:active, button:active, a:active { outline: none; }
ion-navbar >div{background:$main_dark !important; color:white !important}
ion-navbar *{color:white !important}
ion-menu{
	p, ion-label{background:white !important; color:#424242 !important}
	ion-item.activated{background:white !important;}
}
ion-menu .active *{color:$main_dark !important}
//.fab{background-color: $main !important}
.submit-btn {
	background:$main;
	border-radius: 30px !important;
	//border: 1px solid #ffffff;
  }
@mixin sizes($size) {
	span, p, td, li, div, u, i, em, tr{font-size:$size}
	li.chord{font-size:$size - 2px; }
	.chord-line li+li{min-height: $size;}
	.withChords .chord{min-height: $size - 2px}
	ul.line > li{top:-$size + 1px;}
	tr:first-of-type td:nth-of-type(2) > ul > li{margin-top:$size - 1px;}
	tr:first-of-type td:nth-of-type(2) > ul > li:not(.withChords) ~li{margin-top:0;}
  }
.size10{
	@include sizes(10px);
}
.size11{
	@include sizes(11px);
}
.size12{
	@include sizes(12px);
}
.size13{
	@include sizes(13px);
}
.size14{
	@include sizes(14px);
}
.size15{
	@include sizes(15px);
}
.size16{
	@include sizes(16px);
}
.size17{
	@include sizes(17px);
}
.size18{
	@include sizes(18px);
}
.size19{
	@include sizes(19px);
}
.size20{
	@include sizes(20px);
}
.size21{
	@include sizes(21px);
}
.size22{
	@include sizes(22px);
}
.size23{
	@include sizes(23px);
}
.size24{
	@include sizes(24px);
}
.bg-main{
	background-color: $main_dark !important; *{color:white !important; background-color: $main_dark !important; }
}
.link{
	border-bottom:2px solid $main_dark;
}
.border-left{
	border-left:1px solid; padding-left:3px;
}
.secondary{background: $secondary;}

@media (min-width: 750px) {
	.toolbar{min-height: 70px}
}
.button.button-clear{
	border:$main_dark 1px solid !important;
}
.bar-button-ios[icon-only] {padding:0 4px}


/*DARK MODE*/
.dark{
	ion-item, button.item, ion-content, ion-note, ion-toolbar *{background-color: $night_main !important;color:white !important}
	.bg-main{
		background-color: $night_main !important; *{color:white !important; background-color: $night_main!important; }
	}
	ion-navbar >div{background:$night_main_dark !important; color:white !important}
	ion-navbar *{color:white !important}
	ion-badge{background-color: $night_red}
	ion-fab>button{background-color: $night_red}
	.button.button-clear{border-color:$night_main_dark !important}
	ion-list-header{background:$night_main_dark !important; color:white !important}
}
ion-menu.dark{
	p, ion-label, ion-item,ion-item-divider{background:$night_main_dark !important; color:white !important}
	ion-item.activated{background:$night_main_dark !important;}
	.active *{color:white !important}
}
ion-content.dark{background-color: $night_main !important;}
ion-alert.dark {
	div:not(.alert-radio-icon, .alert-radio-inner){background:$night_main_dark !important; color:white !important}
}
.pop-left .modal-wrapper{
	width: 80%; 
	height: 100%;
	top: 0;
	left:0;
	position: absolute;
}
.pop-left ion-backdrop{
	visibility: visible !important;
	//z-index: 2 !important;
}
@media (min-width: 768px) {
	.pop-left .modal-wrapper{width: 60%;}
}