<ion-menu [content]="content" [class.dark]="darkMode">

	
  
	<ion-content>
		<ion-row class="bg-main">
			<ion-col>
				<img src="assets/imgs/logo_ccn.png">
				<p no-margin margin-horizontal><small>{{user?.username}}</small></p>
			</ion-col>
		</ion-row>

	  <ion-list no-lines *ngFor="let group of pages">
			<ion-item tappable *ngFor="let p of group.pages" (click)="openPage(p)" [ngClass]="{'active':rootPage == p.component}">
				<ion-icon [name]="p.icon" item-start></ion-icon>
				{{translate(p.id,p.title)}}
				<ion-badge *ngIf="p.badge" item-end color="primary">{{p.badge}}</ion-badge>
			</ion-item>  
			<ion-item-divider *ngIf="group.separator"></ion-item-divider>
		
		</ion-list>
		<ion-list *ngIf="system=='android'">
			<ion-item (click)="closeApp()" tappable> 
				<ion-icon name="power" item-start></ion-icon>
				Quitter
			</ion-item>
		</ion-list>
	</ion-content>
  
  </ion-menu>
  
  <ion-nav #content swipeBackEnabled="false" [class.dark]="darkMode"></ion-nav>
  