page-playlist {
	.button-inner{text-transform: none}	
	ion-note{width:32px; 	white-space: nowrap}
	ion-item.disabled ion-label{
		font-style: italic;
		opacity: 0.8;
	}
	ion-item.disabled{
		background-color: rgba(0,0,0,0.05);
	}
}
