<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar >
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>   
    <ion-title *ngIf="!editMode">{{playlist?.title}}</ion-title>
    <ion-input *ngIf="editMode" #titleInput type="text" placeholder="Titre" name="playlist.title" [(ngModel)]="playlist.title"></ion-input>
    <ion-buttons right *ngIf="!isSharedPlaylist || isOwnPlaylist">
        <button ion-button icon-only (click)="editTitle(titleInput)" *ngIf="!editMode && !isSharedPlaylist">
            <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only (click)="save()" *ngIf="editMode">
            <ion-icon name="checkmark"></ion-icon>
        </button>
        <button ion-button icon-only (click)="delete()" *ngIf="!isSharedPlaylist">
            <ion-icon name="trash"></ion-icon>
		</button>
		<button ion-button icon-only (click)="createGlobalPlaylist()" *ngIf="user && user.canCreatePlaylists">
            <ion-icon name="cloud-upload"></ion-icon>
		</button>
        <button ion-button icon-only (click)="shareOptions()">
            <ion-icon ios="md-share" md="md-share" isActive="true" *ngIf="playlist?.isShared"></ion-icon>
            <ion-icon ios="md-share" md="md-share" isActive="false" *ngIf="!playlist?.isShared"></ion-icon>
        </button>
  </ion-buttons>
  </ion-navbar>
  
  </ion-header>


<ion-content padding-vertical>
    <p padding-horizontal *ngIf="playlist && playlist.isShared && playlist.users"><em>Cette playlist est partagée avec {{playlist.users.length}} 
        <span *ngIf="playlist.users.length>1">utilisateurs</span>
        <span *ngIf="playlist.users.length<=1">utilisateur</span>
	</em></p>
	<p padding-horizontal *ngIf="playlist && playlist.isShared && playlist.shareCode"><em>Cette playlist est partageable avec le code {{playlist.shareCode}} 
    </em></p>
  <ion-list *ngIf="playlist && playlist.songs" [reorder]="!isSharedPlaylist || canEdit" (ionItemReorder)="reorderItems($event)">
    <ion-item-sliding *ngFor="let song of playlist.songs ; let i=index">
        <ion-item tappable (click)="goToSong(i)" [ngClass]="{'disabled':isExternal(i)}">

            <ion-note item-start *ngIf="song.songbooks && song.songbooks[carnet] && song.songbooks[carnet].page">
                {{song.songbooks[carnet].page}}
              </ion-note>  
              <ion-note  item-start *ngIf="!(song.songbooks && song.songbooks[carnet] && song.songbooks[carnet].page)"> </ion-note>
              {{song.title | translate : song.i18n : carnet}}<!--<br/><em><small>Créée le {{playlist.createdTime | date}}</small></em>-->
        </ion-item>
        <ion-item-options side="right" *ngIf="!isSharedPlaylist || isOwnPlaylist">
            <button ion-button color="danger" (tap)="deleteSong(i)">
                <ion-icon name="trash"></ion-icon>
                Suppr.
            </button>
        </ion-item-options>
    </ion-item-sliding>
	
  </ion-list>
  <ion-list *ngIf="showNote">
		<ion-item-divider>Ajouter une note</ion-item-divider>
		<ion-item>
			<ion-input type="text" placeholder="Titre" [(ngModel)]="newSong.title" placeholder="Titre"></ion-input>
		</ion-item>
		<ion-item>
				<ion-textarea placeholder="Titre" [(ngModel)]="newSong.notes" placeholder="Notes"></ion-textarea>
			</ion-item>
  </ion-list>
  <button ion-button outline small float-right (click)="addExternalSong()">Ajouter une note</button>

  

  <ion-fab bottom right (click)="addSong()" *ngIf="!isSharedPlaylist || isOwnPlaylist">
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
