<!--
  Generated template for the CguPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate('cgu',"Conditions d'utilisation")}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>CONDITIONS GÉNÉRALES D'UTILISATION DE L'APPLICATION MOBILE</h3>

  <p>Les présentes conditions générales d’utilisation (ci-après dénommées « CGU ») ont pour objet déterminer les règles d’utilisation de l’application mobile « Chants - Louange et Liturgie » (ci-après dénommée l’« Application ») éditée par l’association « Les Ateliers du Chemin Neuf » (ci-après dénommée « ACN »).
  En installant l’Application sur votre terminal et/ou en accédant à l’Application, en tant qu’utilisateur, vous acceptez sans condition ni réserve l’intégralité des CGU définies ci-après. Si vous ne souhaitez pas accepter les présentes CGU, nous vous demandons de ne pas accéder à l’Application.
  Toute visite et/ou utilisation de l’Application doit se faire dans le respect des présentes CGU.</p>
  
  <h4>Article 1. DÉFINITIONS</h4>
  
  <p>Les termes débutant par une majuscule au sein des présentes CGU, qu’ils soient utilisés indifféremment au singulier ou au pluriel, auront, la signification qui leur est donnée ci-après :</p>
  <p><b>« Application » </b>désigne l’application logicielle « Chants - Louange et Liturgie » éditée et fournie par ACN, donnant accès aux Services, qui est disponible gratuitement dans l’ « App Store » d’Apple et le « Play Store » d’Android pour être téléchargée par l’Utilisateur sur son terminal Apple iOS et Android OS. L’Application comprend également les Contenus, les logiciels, les programmes, les outils (de programmation, de navigation, …), les bases de données, les systèmes d’exploitation, la documentation et tous autres éléments et services qui la compose, les mises à jour et les nouvelles versions qui peuvent être apportées à l’Application par ACN.</p>
  <p><b>« Contenu »</b> désigne, sans que cette liste soit limitative, la structure de l’Application, le contenu éditorial, les bases de données, les dessins, les illustrations, les images, les photographies, les chartes graphiques, les marques, les logos, les sigles, les dénominations sociales, les œuvres audiovisuelles, les œuvres multimédia, les contenus visuels, les contenus audio et sonores, ainsi que tout autre contenu présent au sein de l’Application et/ou tout autre élément composant l’Application.</p>
  <p><b>« Services »</b> désignent les différentes fonctionnalités et services proposées par l’Application, c’est-à-dire l’accès au contenu du recueil imprimé « CHANTS Louange et Liturgie » édité par « Les Ateliers du Chemin Neuf », ainsi qu’aux autres recueils proposés dans l’onglet « Boutique » de l’Application.</p>
  <p><b>« Utilisateur »</b> ou <b>« Vous »</b> désigne une personne physique majeure ou mineure ayant préalablement obtenu l’autorisation de ses parents ou de la personne investie de l'autorité parentale, et ayant téléchargé l’Application pour ses besoins propres, dans le cadre d’un usage strictement personnel et non commercial, sans but lucratif direct ou indirect.</p>
  
  <h4>Article 2. OBJET DE L’APPLICATION</h4>
  
  <p>L’Application a pour objet de Vous donner accès à l’ensemble des chants du recueil « Chants Louange et Liturgie » édité par ACN, c’est-à-dire les paroles des chants, certains accords musicaux nécessaires pour les jouer, ainsi que certaines partitions.</p> 
  <p>Plusieurs Services sont proposés à l’Utilisateur et notamment :<br>
  - mise à disposition des chants, répartis en rubriques ;<br>
  - accès à des liens internet reliant certains chants vers les sites, dont voici la liste non exhaustivet : Spotify®, Youtube®, Exultet® ;<br>
  - la création de playlists personnalisées par l’utilisateur ;<br>
  - la création par l’utilisateur d’une liste personnelle de chants ;<br>
  - un lien internet vers la boutique des Ateliers du Chemin Neuf. </p>
  
  <p>Cette liste est non exhaustive et peut être modifiée à tout moment par ACN sans que sa responsabilité ne puisse être engagée à ce titre par qui que ce soit.</p>
  
  <h4>Article 3. ACCÈS À L’APPLICATION</h4>
  
  <p>Pour accéder et utiliser l’Application, Vous devez posséder un téléphone compatible ou un terminal mobile. Un accès au réseau Internet est requis uniquement lors de la première connexion à l’application, ce afin de télécharger la base de données.</p>
  <p>L’Application est téléchargeable gratuitement depuis les plateformes  « App Store » et « Play Store » sur les terminaux mobiles suivants : <br>
  - téléphone mobile Iphone® d’Apple® disposant du système d’exploitation iOS sous iOS 8 ou postérieur ;<br>
  - téléphone mobile disposant du système d’exploitation Android® OS 4.1 ou postérieur ;<br>
  La version du logiciel de l’Application peut être mise à jour de temps à autre pour ajouter de nouvelles fonctions et de nouveaux services.</p>
  
  <h4>Article 5. CONDITIONS FINANCIÈRES</h4>
  
  <p>L’Application est proposée gratuitement aux Utilisateurs hors coûts d’abonnement auprès de l’opérateur de téléphonie mobile, hors coûts de connexion et d’accès au réseau Internet et hors surcoût éventuel facturé pour le chargement des données. </p>
  
  <h4>Article 6. APPLICATION DES CGU ET DES CGV</h4>
  
  <p>Les CGU sont applicables à tout Utilisateur de l’Application et des Services.</p>
  <p>L'Utilisateur est invité à lire attentivement et à chaque visite les CGU qui sont accessibles par onglet sur le menu de l’Application et susceptibles d’être modifiées à tout moment et sans préavis par ACN.</p>
  <p>L’Application pourra faire l’objet d’une mise à jour régulière. À cet égard, toute Application téléchargée par un Utilisateur a une validité limitée dans le temps, compte tenu de ces mises à jour à télécharger impérativement et des éventuelles évolutions techniques, législatives ou réglementaires, dont ACN n’a pas le contrôle.</p>
  <p>Les CGV sont accessibles sur le site « La Boutique des Ateliers du Chemin Neuf », accessible via le lien internet : <a href="https://www.laboutique-chemin-neuf.com/fr/conditions-de-vente">https://www.laboutique-chemin-neuf.com/fr/conditions-de-vente</a></p>
  
  <h4>Article 7. PROPRIÉTÉ INTELLECTUELLE DE L’APPLICATION</h4>
  
  <p>ACN est propriétaire exclusif de tous les droits de propriété intellectuelle afférents aux chants suivis le copyright « © Les Ateliers du Chemin Neuf ». </p>
  <p>ACN a reçu l’autorisation expresse de la part des ayant droit de publier et de diffuser les chants suivis des copyrights dont la liste est accessible dans la « Table des éditeurs ». ACN a acquis ces droits auprès des éditeurs contre rétribution ou à titre gratuit. ACN a mis en œuvre tous les moyens en sa possession pour demander les droits de reproduction des œuvres contenues dans cette application mobile. ACN se tient à disposition des auteurs et éditeurs qu’il n’a pas réussi à contacter. </p>
  <p>ACN est propriétaire exclusif de tous les droits de propriété intellectuelle afférents à l'Application et son Contenu, sous réserve des droits des sociétés dont ACN exploite la licence et dont la liste est disponible dans la « Table des éditeurs ».</p>
  <p>Sans préjudice des dispositions de l’article 7, aucune des dispositions des CGU ne peut être interprétée comme une cession, un transfert, une vente, une concession, une licence, un prêt, une location, une autorisation d'exploitation consentie directement ou indirectement par ACN au profit de l'Utilisateur sur l'Application son Contenu et/ou les Services.</p>
  
  <h4>Article 8. LICENCE D’UTILISATION </h4>
  
  <p>ACN concède à l’Utilisateur un droit personnel d’utilisation de l’Application, du Contenu et des Services, non exclusif, révocable, non cessible, non transférable, mondial et gratuit uniquement pour ses besoins propres dans le cadre de l’utilisation de l’Application et des Services, à l’exclusion de toute autre finalité.</p>
  <p>Il est strictement interdit à l’Utilisateur d’accéder et/ou d’utiliser les codes source de l’Application et/ou des composants logiciels de l’Application.</p>
  <p>L’Utilisateur n’acquiert aucun droit de propriété intellectuelle sur l’Application, le Contenu et/ou les Services ni aucun autre droit que ceux conférés par les présentes.</p>
  <p>La présente licence ne confère aucun droit d’utilisation à l’Utilisateur sur le Contenu. L’Utilisateur s’interdit donc de reproduire, représenter, adapter et/ou exploiter l’un et l’autre Contenu.</p>
  <p>L'Utilisateur s'engage expressément à ce que l'utilisation de l'Application ne porte en aucun cas atteinte aux droits des ACN ou à toute personne physique ou morale présente dans la table des éditeurs, et notamment à ce que cette utilisation ne constitue pas un acte de contrefaçon, de concurrence déloyale ou parasitaire du Contenu.</p>
  
  <h4>Article 9. OBLIGATIONS DE L’UTILISATEUR</h4>
  
  <p>L’Utilisateur s’engage expressément :
  - à télécharger l’Application sur son équipement exclusivement pour un usage personnel et non marchand ;<br>
  - à ne pas reproduire de façon permanente ou provisoire l’Application, en tout ou partie, par tout moyen et sous toute forme ;<br>
  - à ne pas utiliser de logiciels ou de procédés destinés à copier le Contenu sans l'autorisation préalable écrite des ACN ;<br>
  - à ne pas procéder à toute adaptation, modification, traduction, transcription, arrangement, compilation, décompilation, assemblage, désassemblage, transcodage, ni appliquer la rétro-ingénierie (ou « Reverse Engineering ») de tout ou partie de l’Application, des Services et/ou du Contenu ;<br>
  - à ne pas exporter l’Application, de fusionner tout ou partie de l’Application avec d'autres programmes informatiques ;<br>
  - à ne procéder à des courtes citations, analyses et reproductions destinées à des revues de presse ainsi qu'aux autres utilisations expressément autorisées par la loi dans les limites et conditions fixées par cette dernière et sous réserve notamment de citer le nom des auteurs et la source éditoriale ;<br>
  - à renoncer expressément à utiliser des logiciels ou dispositifs susceptibles de perturber le bon fonctionnement de l’Application, ni à engager d'action de nature à imposer une charge disproportionnée pour les infrastructures des ACN ;<br>
  - à ne pas extraire ou réutiliser, y compris à des fins privées, sans autorisation préalable écrite des ACN, une partie substantielle ou non du contenu des bases de données et archives constituées par l'Application ;<br>
  - à ne pas mettre en place des systèmes susceptibles de pirater l’Application et/ou le Contenu en tout ou partie, ou de nature à violer les présentes CGU ;<br>
  - à informer ACN dès la connaissance d'un acte de piratage et en particulier de toute utilisation illicite ou non contractuelle de l’Application et/ou du Contenu quel que soit le mode de diffusion ;<br>
  - ne pas vendre, louer, sous-licencier ou distribuer de quelque façon que ce soit l’Application et/ou le Contenu à des tiers.</p>
  
  <h4>Article 10. PROTECTION DES DONNÉES PERSONNELLES</h4>
  
  <p>Toute donnée personnelle susceptible d’être collectée dans le cadre de l’utilisation de l’Application sera traitée et conservée conformément à la loi « informatique et libertés » N°78-017 du 6 janvier 1978, modifiée en 2004, relative à l'Informatique, aux Fichiers et aux Libertés modifiée, ainsi qu’au règlement N°2016/679, dit règlement général sur la protection des données (RGPD, ou encore GDPR).</p>
  <p>Conformément aux textes cités ci-avant, 
  - Vous disposez d'un droit d'accès direct, de rectification et d’opposition des données qui Vous concernent que Vous pouvez exercer sur simple demande à l’adresse suivante : ACN – Les Ateliers du Chemin Neuf, 10 rue Henri IV, 69002 Lyon ;<br>
  - Les seules données personnelles que nous collectons sont celles qui sont indispensables pour Vous identifier correctement, ainsi que pour procéder à des demandes de dons par email : nom, prénom, adresse e-mail, pays où vous habitez ;<br>
  - Vos données personnelles ne sont utilisées que pour procéder à des demande de dons.<br>
  - Aucune donnée personnelle n'est accessible du public, pas même des extraits.<br>
  - Le fait de cocher la case "J'ai lu et j'accepte les CGU" vaut consentement de votre part pour le stockage de vos données personnelles.<br>
  - Vous avez accès à vos données personnelles sur la page "Mon Compte" lorsque vous êtes connecté. Vous pouvez y modifier vos nom, prénom, pays de résidence, et adresse e-mail.</p>
  
  <p>Le refus de fournir certaines données personnelles est susceptible de Vous priver de l’accès à certains Services.</p>
  
  <h4>Article 11. DISPONIBILITÉ DE L’APPLICATION</h4>
  
  <p>ACN s'engage à faire ses meilleurs efforts pour sécuriser l'accès, la consultation et l'utilisation des Services de l’Application. L’Application est accessible 24 heures sur 24, 7 jours sur 7 sauf en cas de force majeure ou de survenance d'un évènement hors du contrôle des ACN et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement de l’Application. Les interventions de maintenance pourront être effectuées sans que les Utilisateurs aient été préalablement avertis.</p>
  
  <h4>Article 12. LIMITATION DE GARANTIE</h4>
  
  <p>L’accès et l’utilisation de l'Application se font aux risques et périls de l'Utilisateur.</p>
  <p>L’Application et le logiciel sont fournis « tel quel » et « comme disponible » sans garantie quelle qu’elle soit.</p>
  <p>Il appartient à tout Utilisateur de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ ou logiciels stockés sur ses équipements informatique et téléphonique contre toute atteinte.</p>
  <p>L'Utilisateur déclare connaître et accepter les caractéristiques et les limites du réseau Internet et, notamment les caractéristiques fonctionnelles et des performances techniques du réseau Internet ; les problèmes liés à connexion et/ou d'accès au réseau Internet et/ou aux sites web ; les problèmes liés à la disponibilité et à l'encombrement des réseaux ; les problèmes liés à la défaillance ou à la saturation des réseaux ; les problèmes liés au temps de transit, à l’accès aux informations mises en ligne, aux temps de réponse pour afficher, consulter, interroger ou autrement transférer des données ; les risques d’interruption ; l'absence de protection de certaines données contre des détournements éventuels ou piratage ; les risques de contamination par d’éventuels virus circulant sur les dits réseaux, etc. pour lesquelles la responsabilité des ACN ne saurait être engagée.</p>
  
  <p>ACN ne peut être tenu pour responsable :
  - en cas de défaut, de perte, de retard ou d’erreur de transmission de données qui sont indépendants de sa volonté ;<br>
  - de l'envoi de messages et/ou de données et à une adresse fausse, erronée ou incomplète ;<br>
  - si des données ne lui parvenaient pas, pour quelque raison que ce soit, ou si les données qu’elle reçoit étaient illisibles ou impossibles à traiter ;<br>
  - au cas où l’Utilisateur ne parvenait à accéder ou à utiliser l’Application et/ou les Services pour quelque raison que ce soit ;<br>
  - si, pour quelque raison que ce soit, la connexion devait être interrompue.</p>
  <p>Par ailleurs, ACN décline toute responsabilité en cas de mauvaise utilisation du terminal et/ou d'incident lié à l'utilisation du terminal lors de l’utilisation de l’Application. ACN ne saurait en aucun cas être tenue responsable de tout dommage, de quelque nature que ce soit, causé aux Utilisateurs, à leurs terminaux, à leurs équipements informatiques et téléphoniques et aux données qui y sont stockées ni des conséquences pouvant en découler sur leur activité personnelle, professionnelle ou commerciale.</p>
  
  
  <h4>Article 13. ÉVOLUTION DES CONDITIONS GÉNÉRALES D'UTILISATION</h4>
  
  <p>Les CGU applicables sont celles en vigueur à la date de la connexion et de l’utilisation de l’Application par l’Utilisateur.</p>
  <p>ACN se réserve le droit de modifier, à tout moment, tout ou partie, des dispositions des CGU sans préavis ni information préalable des Utilisateurs afin de les adapter aux évolutions des Services, aux évolutions techniques, légales ou jurisprudentielles ou lors de la mise en place de nouvelles prestations.</p>
  <p>Les modifications éventuellement apportées par ACN aux CGU seront portées à la connaissance des Utilisateurs par leur simple mise en ligne. Elles sont réputées acceptées sans réserve par tout Utilisateur qui accède à l’Application postérieurement à ladite mise en ligne. ACN invite donc tout Utilisateur à consulter régulièrement les CGU.</p>
  <p>Tout nouveau Service intégrant de nouvelles techniques ou nouvelles caractéristiques améliorant la qualité des Services existants seront aussi soumis aux présentes CGU, sauf disposition expresse contraire.</p>
  
  <h4>Article 14. RÉSILIATION</h4>
  
  <p>ACN peut mettre fin à l’utilisation de l’Application à tout moment en Vous donnant un préavis de résiliation.</p>
  <p>Au moment de toute résiliation, (a) les droits et les licences qui Vous avaient été accordés seront résiliés et Vous devrez cesser toute utilisation de l’Application.</p>
  
  <h4>Article 15. CONTACT</h4>
  
  <p>Toute question relative à l’Application et/ou aux Services doit être adressée à : ACN – Les Ateliers du Chemin Neuf, 10 rue Henri IV, 69002 LYON</p>
  
  <h4>ARTICLE 16. LOI APPLICABLE </h4>
  
  <p>Les présentes CGU sont soumises à la loi française.</p>
  <p>Tout litige ou contestation relatif à l'exécution ou à l'interprétation du présent règlement qui n’aura pu être réglé à l'amiable entre les parties sera soumis aux tribunaux compétents du ressort de la Cour d'appel de Lyon.</p>
  
  
  <p>Fait à Tigery, le 30 juin 2018.</p>
  
</ion-content>
