<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content [class.dark]="params && params.darkMode">
<ion-list *ngIf="params">
  <ion-item *ngIf="!params.capoMode">
    <ion-label>Capo {{song.capo}}</ion-label>
    <ion-range min="-6" max="6" step="1" [(ngModel)]="song.capo" name="capo" pin="true" (ionChange)="changeCapo()" >
      <ion-icon small range-left name="remove" (click)="song.capo=song.capo>-6? song.capo-1 : song.capo"></ion-icon>
      <ion-icon range-right name="add" (click)="song.capo=song.capo<6? song.capo+1 : song.capo"></ion-icon>
    </ion-range>
  </ion-item>
<ion-item *ngIf="song.tonality && tonality">
	<ion-label>
		{{translate('key','Tonalité')}} {{ tonality }}
		<small *ngIf="song.transposition>0"> (+{{song.transposition}})</small>
		<small *ngIf="song.transposition<0"> {{"("+song.transposition}})</small>
	</ion-label>

	<ion-range pin="true" min="-6" max="6" step="1" [(ngModel)]="song.transposition" (ionChange)="changeTonality()">
		<ion-icon small range-left  name="remove" (click)="song.transposition=song.transposition>-6? song.transposition-1 : song.transposition"></ion-icon>
		<ion-icon range-right name="add" (click)="song.transposition=song.transposition<6? song.transposition+1 : song.transposition"></ion-icon>
	</ion-range>
</ion-item>
  <ion-item>
      <ion-label>{{translate('font_size','Taille de police ')}}: {{params.fontSize}}px</ion-label>
      
      <ion-range min="10" max="24" step="1" [(ngModel)]="params.fontSize" pin="true">
        <ion-icon small range-left name="remove" (click)="params.fontSize=params.fontSize>10? params.fontSize-1 : params.fontSize"></ion-icon>
        <ion-icon range-right name="add" (click)="params.fontSize=params.fontSize<24? params.fontSize+1 : params.fontSize"></ion-icon>
      </ion-range>
	</ion-item>
	
<ion-item text-wrap>
    <ion-toggle [(ngModel)]="params.showChords" [disabled]="!isLoggedIn"></ion-toggle>
    <ion-label>
      {{translate('show_chords','Afficher les accords')}}
    </ion-label>
</ion-item>
<ion-item [hidden]="!params.showChords" text-wrap>
  <ion-toggle [(ngModel)]="params.position"></ion-toggle>
  <ion-label>
    {{translate('chord_embed','Accords intégrés au texte')}}
  </ion-label>
</ion-item>
<ion-item text-wrap>
	<ion-toggle [(ngModel)]="params.autoscroll"></ion-toggle>
	<ion-label>
		{{translate('autoscroll',"Scénario complet")}}
	</ion-label>
</ion-item>
<!--<ion-item text-wrap tappable (click)="editNotes()">
  	{{translate('add_note','Ajouter une note personnelle')}}
  <ion-icon name="create" item-end></ion-icon>
</ion-item>-->
</ion-list>
</ion-content>