<!--
  Generated template for the BoutiquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate('boutique','Boutique')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<p><em>En créant un compte sur l'application, vous avez accès aux chants dans le domaine public.<br/>
  Pour accéder à tous les chants du carnet, vous pouvez acheter ici le package correspondant.</em></p>

  <ion-list >
    <ion-list-header>
      Packages disponibles
    </ion-list-header>
    <ion-item *ngFor="let product of availableProducts" text-wrap (click)="buy(product.productId)">
      {{product.title}}<br/>
      <p>{{product.description}}</p>
      <ion-note item-end>
          {{product.price}}
      </ion-note>
    </ion-item>
  </ion-list>
  <p>Produits :</p>
  <ion-list>
    <ion-item *ngFor="let item of availableProducts">
      {{item.title}}
    </ion-item>
  </ion-list>
  <button ion-button icon-left (click)="restore()">
    <ion-icon name="hammer"></ion-icon>
    Restaurer les achats
  </button>-->

  <ion-list *ngIf="shopProducts && shopProducts.contents">
    <ion-list-header>{{translate('acn_shop','Boutique des Ateliers du Chemin Neuf')}}</ion-list-header>
  </ion-list>
  <ion-list class="boutique" *ngIf="shopProducts && shopProducts.contents">   
      <ion-card  *ngFor="let product of shopProducts.contents" (click)="openUrl(product)">
        <img [src]="'https://www.laboutique-chemin-neuf.com/dam?media-id='+product.fields.image+'&mode=boxed&height=300'"/>
        <ion-card-content>
          <h2 color="primary">{{product.text}}</h2>
          <p *ngIf="product.fields.summary">{{product.fields.summary}}</p>
          <p><b>{{product.productProperties.lowestNoSoPrice|number:'1.0-2'}}€</b></p>
        </ion-card-content>
      </ion-card>    
  </ion-list>
</ion-content>
