page-boutique {
	ion-list.boutique{
		-moz-column-count: 2;
	-moz-column-gap: 12px;
	-webkit-column-count: 2;
	-webkit-column-gap: 12px;
	column-count: 2;
	column-gap: 12px;
	//width: 1200px;
	ion-card{
		display: inline-block;
		margin-bottom: 24px;
		width: 100%;
	}
	h2{color:$main_dark}
	}
}
