<!--
  Generated template for the ParamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>{{translate('params','Paramètres')}}</ion-title>
      </ion-navbar>
    
  </ion-header>


<ion-content class="ion-padding-vertical">
  <ion-list *ngIf="params">
		<ion-list-header color="secondary">
			<ion-label>{{translate('general_params','Paramètres généraux')}}</ion-label>
		</ion-list-header>
		<ion-item class="ion-text-wrap" >
			<ion-label>
				{{translate('app_lang',"Langue de l'application")}}
			</ion-label>
			<ion-select [(ngModel)]="params.lang" style="max-width:70%" (ngModelChange)="updateLang()">
				<ion-option value="FR">Français</ion-option>
				<ion-option value="EN">English</ion-option>
				<ion-option value="HU">Magyar</ion-option>			
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>{{translate('font_size','Taille de police ')}}: {{params.fontSize}}px</ion-label>
			<ion-range min="10" max="24" step="1" [(ngModel)]="params.fontSize" (ngModelChange)="updateParams()">
			  <ion-icon small range-left name="remove" (click)="params.fontSize=params.fontSize>10? params.fontSize-1 : params.fontSize"></ion-icon>
			  <ion-icon range-right name="add" (click)="params.fontSize=params.fontSize<24? params.fontSize+1 : params.fontSize"></ion-icon>
			</ion-range>
		</ion-item>
		<ion-item>
			<ion-label>{{translate("carnet","Carnet")}}</ion-label>
			<ion-select [(ngModel)]="params.carnet" style="max-width:70%" (ngModelChange)="updateSongBook()" [selectOptions]="selectOptions">
			  <ion-option *ngFor="let book of availableBooks" [value]="book.id">{{book.label}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="availableBooks.length>1">
			<ion-label>{{translate("additional_books","Carnets supplémentaires")}}</ion-label>
			<ion-select [(ngModel)]="params.songbooks" multiple (ngModelChange)="updateParams()">
				<ion-option *ngFor="let book of booksFilter(availableBooks)" [value]="book.id">{{book.label}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item class="ion-text-wrap" >
				<ion-label>
					{{translate('search_mode','Recherche des chants')}}
				</ion-label>
				<ion-select [(ngModel)]="params.search" style="max-width:70%" (ngModelChange)="updateParams()" [selectOptions]="selectOptions">
					<ion-option value="title">{{translate('title_only','Titre uniquement')}}</ion-option>
					<ion-option value="lyrics">{{translate('title_lyrics','Titre et paroles')}}</ion-option>
				</ion-select>
		</ion-item>
		<ion-item (click)="showVeille()">
				<ion-label>
				  {{translate('insomnia',"Mise en veille de l'écran")}}<br/>
				  <p>{{params.veille}} minutes</p>
				</ion-label>
		</ion-item>
		<ion-item >
			<ion-toggle [(ngModel)]="params.darkMode" (ngModelChange)="updateParams()" ></ion-toggle>
			<ion-label>
				{{translate('dark_mode','Mode sombre')}}
			</ion-label>
		</ion-item>
		<ion-list-header color="secondary">
			<ion-label>{{translate('chord_display','Affichage des accords')}}</ion-label>
		</ion-list-header>		
      
    <ion-item class="ion-text-wrap" >
        <ion-toggle [(ngModel)]="params.showChords" (ngModelChange)="updateParams()" [disabled]="!allowChord"></ion-toggle>
        <ion-label>
          {{translate('show_chords','Afficher les accords')}}
        </ion-label>
    </ion-item>
    <ion-item class="ion-text-wrap" >
      <ion-label>
        {{translate('chord_format','Format des accords')}}
      </ion-label>
      <ion-select [(ngModel)]="params.chordFormat" style="max-width:70%" (ngModelChange)="updateParams()" [selectOptions]="selectOptions">
        <ion-option value="FR">{{translate('french_chords','Français')}}</ion-option>
        <ion-option value="INT">International</ion-option>
        <ion-option value="DE">{{translate('german_chords','Notation allemande')}}</ion-option>
      </ion-select>
  </ion-item>
    <ion-item [hidden]="!params.showChords" text-wrap>
      <ion-toggle [(ngModel)]="params.position" (ngModelChange)="updateParams()" ></ion-toggle>
      <ion-label>
		{{translate('chord_embed','Accords intégrés au texte')}}
	</ion-label>
  </ion-item>
    <ion-item>
        <ion-toggle [(ngModel)]="params.capoMode" (ngModelChange)="updateParams()" [disabled]="!allowChord"></ion-toggle>
        <ion-label>
			{{translate('no_capo','Mode sans capo')}}
        </ion-label>
	</ion-item>
	<ion-item>
        <ion-toggle [(ngModel)]="params.autoscroll" (ngModelChange)="updateParams()"></ion-toggle>
        <ion-label>
			{{translate('autoscroll',"Scénario complet")}}
        </ion-label>
    </ion-item>
    
	
    <ion-list-header color="secondary">
			<ion-label>{{translate('links','Liens utiles')}}</ion-label>
		</ion-list-header>
    <button ion-item detail-push (click)="goToPage('EditeursPage')">
      {{translate('editors_list','Liste des éditeurs')}}
    </button>
    <button ion-item detail-push text-wrap (click)="goToPage('CguPage')">
      {{translate('cgu',"Conditions générales d'utilisation")}}
    </button>
  </ion-list>

</ion-content>
