page-add-song {
	ion-label{margin-top:6px !important; margin-bottom: 6px !important;}
	ion-searchbar{max-width: 450px; float: right}
	.searchbar-input{background-color:rgba(0, 0, 0, 0.08) !important; -webkit-box-shadow:none !important;box-shadow:none !important}

	.searchbar-input::placeholder { /* Most modern browsers support this now. */
   color: white !important;
	}
}
