<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-searchbar #input [placeholder]="translate('search_by_title','Recherche par titre')"  showCancelButton="true" autocomplete="true" (ionInput)="filterItems($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
	</ion-navbar>
</ion-header>
<ion-content> 	
	<ion-list [virtualScroll]="songs">
		<ion-item tappable *virtualItem="let song" (click)="selectSong(song)">
		  {{song.title | translate : song.i18n : carnet}}<br/>
		  	<em *ngIf="song.copyright && song.copyright.international && copyrights && copyrights[song.copyright.international]">
			  	<small>{{copyrights[song.copyright.international].title }}</small>
			</em>
			<ion-icon name="checkmark" item-end *ngIf="isSelected(song)"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-buttons right>
			<button ion-button [disabled]="selectedSongs.length==0" (click)="addSongs()">
			  Ajouter
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer> 