<!--
  Generated template for the RubriquesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>{{translate('rubriques' , 'Rubriques')}}</ion-title>
      </ion-navbar>
    
  </ion-header>


<ion-content padding-vertical>
  <ion-list>
    <ion-item tappable *ngFor="let rubrique of rubriques" (click)="goToRubrique($event, rubrique)">
      <ion-avatar item-start>
        <img [src]="'assets/onglets/' + rubrique.img ">
      </ion-avatar>
      <h2>{{translate(rubrique.id,rubrique.title)}}</h2>
      <!--<h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>-->
    </ion-item>
  </ion-list>
</ion-content>
