<!--
  Generated template for the GivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate('donate','Aidez-nous')}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{translate('donate_line1','Nous sommes heureux de vous donner un accès gratuit à cette application.')}} </p>
  <p>{{translate('donate_line2',"Nous avons encore plein d'idées de nouvelles fonctionnalités pour améliorer votre expérience de cette application. Pour nous permettre de continuer à vous offrir l'appli gratuitement, aidez-nous en versant une petite somme ! Toutes les contributions sont utiles !")}}</p>
 <p>Sur notre site internet :</p> 
  <button ion-button icon-start (click)="give()">
      <ion-icon name="heart-outline"></ion-icon> {{translate('donation','Je donne')}}
	</button>
	<p *ngIf="items">Ou donnez directement dans l'application</p>
	<p text-center *ngIf="loading">
		<ion-spinner></ion-spinner><br/>
		<i>Chargement...</i>
	</p>
	<ion-list *ngIf="items">
		<ion-item>
			<ion-label>{{translate('amount','Montant')}}</ion-label>
			<ion-select [(ngModel)]="amount">
				<ion-option *ngFor="let product of items" [value]="product.productId">{{getProductTitle(product.title)}}</ion-option>
			  </ion-select>
		</ion-item>
	</ion-list>
	<button *ngIf="items" ion-button icon-start (click)="pay()">
		<ion-icon name="heart-outline"></ion-icon> {{translate('donation','Je donne')}}
	</button>
	<p>Ou bien en notant l'application :</p>
	<button  ion-button icon-start (click)="showRatePrompt()">
		<ion-icon name="star-outline"></ion-icon> Noter
	</button>


</ion-content>
