page-song {
    .scroll-content{
        padding-left:8px; padding-right:8px;
        //margin-top:0px !important;
    }
    ion-header[hidden] + ion-content .scroll-content{margin-top:0px !important}
	ion-slide{align-items: flex-start !important; overflow-y:scroll; p, h1, h3, td{text-align: left}}
    p{margin: 0; margin-top:3px}

    ion-icon{color:$main_dark}
    ion-fab ion-icon{color:white}
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: rgba(0,0,0,0.4);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
    .fab {
        contain: layout;
    }
    .notes{
        background-color: lightgray; padding:10px 6px;
    }
    
    button.selected{background: $main_dark; color:white}
    .note{
        width: 100vw;
        height: 100vh;
        //background-color: rgba(0, 0, 0, 0.8);
        //display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        display: none;z-index:2;
        h5{
            color: #fff;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 2em;
            //text-shadow: -1px 2px 15px rgba(0, 0, 0, 0.7);
            background-color: rgba(0, 0, 0, 0.5);
            padding: 12px;
            border-radius: 4px;
        }
       
    }
    .note.visible{display: flex}
	.noPadding .scroll-content{padding-left:0 !important; padding-right:0 !important}
	ion-fab+ion-fab{margin-right:64px}


	.aspect-ratio{
		position: relative;
	  width: 80%;
	  height: 0;
	  margin-left: 5%;
	  padding-bottom: 51%;
	}
	iframe#youtube-player {
		position: absolute;
		width: 100% !important;
		height: 100%;
		left: 0; top: 0;
	}
	
	.video{
		position: absolute;
		bottom:0; width: 100%; max-height: 100%; z-index:1;
		transition: margin-left 0.5s ease;
	}
	.player_controls{
		background-color: black;
		width: 80%;
		margin-left:5%;
		ion-icon{font-size:24px; color:white}
	}
	.page{
		padding:6px; border: 1px solid;
	}
}
