<!--
  Generated template for the SongPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header [hidden]="fullScreenMode">
  
<ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>   
  <ion-title>Chants</ion-title>
  <ion-buttons right>
		<button ion-button icon-only *ngIf="!editMode" (click)="editNote()">
			<ion-icon name="text"></ion-icon>
		</button>
		<button ion-button icon-only (click)="saveNote()" *ngIf="editMode">
            <ion-icon name="checkmark"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="hasExultet" (click)="openUrl()">
            <ion-icon name="cart"></ion-icon>
        </button>
        <button ion-button icon-only (click)="play()" *ngIf="hasNote">
            <ion-icon name="musical-note"></ion-icon>
        </button>
        <button ion-button icon-only (click)="presentActionSheet()" *ngIf="isLoggedIn">
            <ion-icon name="star-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="editSong()" *ngIf="localSongs">
            <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only (click)="openOptions($event)">
            <ion-icon ios="md-more" md="md-more"></ion-icon>
        </button>
        

  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding-horizontal [ngClass]="'size'+options.fontSize" >
    <div class="note" [ngClass]="{'visible':playNote}">
        <h5>{{first_note}}</h5>
    </div>
    <ion-slides #myslider (ionSlideNextStart)="nextSong()" (ionSlidePrevStart)="nextSong()" (ionSlideReachEnd)="updateSongs('forward')" *ngIf="songs" [initialSlide]="activeIndex" centeredSlides="false">
		<ion-slide *ngFor="let song of songs; let i=index" style="height:auto"  >
			<ion-content no-padding class="noPadding" [id]="'scrollArea'+i"  style="height:100vh" (tap)="stopScroll()"  (pan)="startScroll($event)" (ionScrollEnd)="endScroll($event)"><!---->
				<ion-grid >
					<ion-row>
						<ion-col>
							<ion-item margin-bottom class="ion-margin-bottom" *ngIf="editMode">
								<textarea style="width:100%" [(ngModel)]="song.notes" *ngIf="editMode"></textarea>
							</ion-item>
							<div class="notes" margin-bottom [innerHtml]="song.notes" *ngIf="!editMode && song.notes && song.notes!=''"></div>
						</ion-col>
					</ion-row>
					<song-detail [song]="song" [displayText]="i==activeIndex" [displayTonality]="displayTonality" [actualTonality]="tonality" [options]="options" [autoscroll]="options.autoscroll" [copyrights]="copyrights" [isConnected]="isConnected" [defaultCarnet]="carnet" [scroll]="isScrolling" isPlaylist="false" (changeScreenMode)="fullScreen($event)" ></song-detail>
				</ion-grid>				
			</ion-content>
        </ion-slide>
    </ion-slides>
    <ion-fab right bottom *ngIf="options.autoscroll && showScroll" #speedFab>
		<button ion-fab (click)="autoScroll($event, true)" (press)="setDuration($event)">
			<ion-icon [name]="isScrolling?'pause':'arrow-round-down'"></ion-icon>
		</button>
		<ion-fab-list side="top">
			<button ion-fab color="secondary" (click)="faster($event)">
                <ion-icon name="fastforward"></ion-icon>
			</button>
			<button ion-fab color="secondary" (click)="slower($event)">
					<ion-icon name="rewind"></ion-icon>
			</button>
		</ion-fab-list>
	</ion-fab>
	<ion-fab right bottom *ngIf="hasExultet || hasSpotify || hasYoutube">
		<button ion-fab><ion-icon name="headset"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab *ngIf="hasExultet" (click)="openUrl()" color="secondary">
                <ion-icon name="cart"></ion-icon>
                <ion-label>Acheter la partition</ion-label>
            </button>
            <button ion-fab *ngIf="hasSpotify" (click)="openSpotify()" color="secondary">
                <ion-icon name="musical-notes"></ion-icon>
                <ion-label>Écouter sur Spotify</ion-label>
            </button>
            <button ion-fab *ngIf="hasTunes" (click)="openItunes()" color="secondary">
                <ion-icon name="musical-notes"></ion-icon>
                <ion-label>Acheter sur iTunes</ion-label>
            </button>
            <button ion-fab *ngIf="hasYoutube" (click)="openYoutube()" color="secondary">
                <ion-icon name="logo-youtube"></ion-icon>
                <ion-label>Voir sur Youtube</ion-label>
            </button>
        </ion-fab-list>
	</ion-fab>
	<div class="video" id="video_container" *ngIf="showYoutubePlayer">
		<div class="player_controls">
			<ion-grid>
			<ion-row class="ion-align-items-center ion-no-padding">
				<ion-col *ngIf="!hideYoutube" class="ion-no-padding ion-text-start" text-left size="2" (click)="slideVideo()">
					<ion-icon name="arrow-dropright" color="white"></ion-icon>
				</ion-col>
				<ion-col *ngIf="hideYoutube" class="ion-no-padding ion-text-start" text-left  size="2" (click)="slideVideo()">
					<ion-icon name="arrow-dropleft" color="white"></ion-icon>
				</ion-col>
				<ion-col class="ion-no-padding" size="8"></ion-col>
				<ion-col class="ion-no-padding ion-text-end" text-right  size="2" (click)="closeVideo()">
					<ion-icon name="close" color="white"></ion-icon>
				</ion-col>
			</ion-row></ion-grid>
		</div>
		<div class="aspect-ratio">
			<iframe id="youtube-player" *ngIf="youtubeUrl && youtubeUrl!='' " [src]="youtubeUrl|safe" frameborder="0" width="100%" height="100%"></iframe>
		</div>
	</div>
	
</ion-content>

