page-rubrique {
	ion-note{width:32px; 	white-space: nowrap}
	.list-md .item-block .item-inner{border:none !important}
	.item-ios.item-block .item-inner{border:none !important}
	ion-item{ border-top: 1px solid rgb(222, 222, 222) !important;/*border-bottom: 1px solid rgb(222, 222, 222) !important;*/}
	.scroll-content::-webkit-scrollbar{width:20px !important}
	.item-md ion-icon[item-left], .item-md ion-icon[item-start]{margin:8px 8px 8px 0 !important}

}
