<!--
  Generated template for the RubriquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{translate(rubriqueId,title)}}</ion-title>
    <ion-buttons right  *ngIf="!showSearch && !isMultipleSelection" >
      <button ion-button icon-only (click)="selectOrder()"><ion-icon name="funnel"></ion-icon><!--<img src="assets/svg/elevator.svg">--></button>
  </ion-buttons>
  <ion-buttons right  *ngIf="isMultipleSelection" >
    <button ion-button icon-only (click)="backToList()">
      <ion-icon name="checkbox-outline"></ion-icon>
    </button>
    <button ion-button icon-only (click)="presentActionSheet()">
      <ion-icon name="star-outline"></ion-icon>
    </button>
    
  </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content padding-vertical>
  <ion-list *ngIf="songs">
      <ion-item tappable *ngFor="let song of songs" (press)="multipleSelection($event,song)" (tap)="goToSong($event, song)">
        <ion-note item-start *ngIf="song.songbooks[carnet] && song.songbooks[carnet].page && !isMultipleSelection">
          {{song.songbooks[carnet].page}}
        </ion-note>  
        <ion-icon item-start *ngIf="song.songbooks && song.songbooks['local'] && !isMultipleSelection" name="lock"></ion-icon>
        <ion-note item-start *ngIf="!(song.songbooks[carnet] && song.songbooks[carnet].page) && !isMultipleSelection && !(song.songbooks && song.songbooks['local'])"> </ion-note>
        <ion-icon item-start name="square-outline" *ngIf="isMultipleSelection && !isSelected(song)" ></ion-icon>
        <ion-icon item-start color="main" name="checkbox" *ngIf="isMultipleSelection && isSelected(song)"></ion-icon>
    

        {{song.title | translate : song.i18n  :carnet}}
    
      </ion-item>
    </ion-list>
</ion-content>

