<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
	<ion-title>{{folder?.title}}</ion-title>
	<ion-buttons right>
		<button ion-button icon-only (click)="deleteFolder()">
            <ion-icon name="trash"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list *ngIf="folder" reorder="true" (ionItemReorder)="reorderItems($event)">
		<ion-item-sliding *ngFor="let playlist of folder.playlists ; let i=index" >
			<ion-item tappable (click)="goToPlaylist(playlist.id)">
				{{playlist.title}}
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="danger" (tap)="deletePlaylist(i)">
					<ion-icon name="trash"></ion-icon>
					Suppr.
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>


