* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    user-select: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-color: black;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    position: absolute;
    margin:0px;
    padding:0px;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


/* Portrait layout (default) */
.app {
    padding:5% 10%; height: 90%;
    display: flex;
  align-items: center;
  justify-content: center;
 }


@font-face {
    font-family: SecondScreenSymbol;
    src: url("WOFF/second_screen.woff");
}

.icon-instructions {
    font-family: SecondScreenSymbol;
    font-size: 100%;
}

h1 {
    font-size:28px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color:white;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:18px;
    margin:10px 30px;
    padding:2px 0px;
    height: 24px;
}
p#texte{
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

.event.listening {
   /* background-color:#333333;*/
    display:block;
}

.event.received, .event.presentationReady, .event.onstatechangeConnected, .event.onpresent{
   /* background-color:#4B946A;*/
    display:none;
}

.event.autoclose, .event.close {
    background-color:#ee2222;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    color: #777;
}

.header {
    position: absolute;
    width: 100%;
    top: 20px;
    text-align: center;
    color: white;
}
