<!--
  Generated template for the ImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar hideBackButton="true">
      <ion-title>Chants</ion-title>
      <ion-buttons end>
        <button ion-button (click)="this.navCtrl.pop()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>

<ion-content padding class='transparent_back'>
  <ion-scroll scrollX="true" scrollY="true">
      <div #pinchElement class="img-container" *ngIf="images">
          <!--<img *ngFor="let image of images" [src]="image.url"
          [style.width]="scale*100+'%'" [style.height]="scale*100+'%'">-->
          <img *ngFor="let verseId of verseOrder"
            [src]="images[verseId].url" [style.width]="scale*100+'%'" [style.height]="scale*100+'%'"/>
      </div>
      
  </ion-scroll>

      
</ion-content>
