page-image {
	.scroll-content{padding-left:0 !important; padding-right:0 !important}
	.transparent_back {
		background-color: rgba(40,40,40,0.8);
	  }
		img{max-width: none;}
		ion-scroll{min-height: 80vh; touch-action: pan-x pan-y !important;background-color: white;}
		.img-container{touch-action: pan-x pan-y !important;}
}
